<!-- <link rel="stylesheet" href="/styles/bet-slip.css" /> -->
<!-- <link rel="stylesheet" href="/styles/style_rtl.css" /> -->


<div class="wrapper b_betslip b-mix" style="display: block">
  <div class="main-title betslip-main-title">
    <div class="left">כרטיס הימור</div>
    <a href="#" id="close-betslip" class="right">X</a>
  </div>
  <div class="betslip-buttons">
    <span class="betslip-button">סינגל</span>
    <span class="betslip-button active">משולבים</span>
  </div>
  <div id="betslipt-content">
    <div
      class="b-bets bet-192383317FT_HDP_a+0.5-1"
      data-id="192383317FT_HDP_a+0.5-1"
    >
      <div class="b-bets__title">
        <div class="left">כדורגל</div>
        <div class="right">
          <a class="close-button" data-id="192383317FT_HDP_a+0.5-1" href="#"
            >X</a
          >
        </div>
      </div>
      <div class="b-bets__team">
        <span>יורו 2024</span>
        <div class="b-bets__score">
          <span class="left b-home_team">טורקיה </span
          ><i class="right b-score_h">-</i>
        </div>
        vs
        <div class="b-bets__score">
          <span class="left b-away_team">גאורגיה</span
          ><i class="right b-score_a">-</i>
        </div>
      </div>
      <div class="b-bets__time b-date"></div>
      <div class="b-bets__name b-description b-description-big">
        משחק מלא אסייתי <br /><b>גאורגיה + 0.75 <span>@ 1.9</span></b>
      </div>
      <div class="b-bets__win" data-odd="1.9" data-sign="">
        <div class="left"><input type="text" value="" /></div>
        <div class="right">
          <span><u>:רווח</u> <i>0</i></span>
        </div>
      </div>
      <div class="b-bets__info">
        <div>
          <span class="left">מינ</span><i class="right b-min">$ <i>100</i></i>
        </div>
        <div>
          <span class="left">מקס</span><i class="right b-max">$ <i>55000</i></i>
        </div>
      </div>
    </div>
    <div class="b-bets bet-189700222FT_HDP_h-1" data-id="189700222FT_HDP_h-1">
      <div class="b-bets__title">
        <div class="left">כדורגל</div>
        <div class="right">
          <a class="close-button" data-id="189700222FT_HDP_h-1" href="#">X</a>
        </div>
      </div>
      <div class="b-bets__team">
        <span>יורו 2024</span>
        <div class="b-bets__score">
          <span class="left b-home_team">פורטוגל </span
          ><i class="right b-score_h">-</i>
        </div>
        vs
        <div class="b-bets__score">
          <span class="left b-away_team">צ'כיה</span
          ><i class="right b-score_a">-</i>
        </div>
      </div>
      <div class="b-bets__time b-date"></div>
      <div class="b-bets__name b-description b-description-big">
        משחק מלא אסייתי <br /><b>פורטוגל - 1 <span>@ 1.75</span></b>
      </div>
      <div class="b-bets__win" data-odd="1.75" data-sign="">
        <div class="left"><input type="text" value="" /></div>
        <div class="right">
          <span><u>:רווח</u> <i>0</i></span>
        </div>
      </div>
      <div class="b-bets__info">
        <div>
          <span class="left">מינ</span><i class="right b-min">$ <i>100</i></i>
        </div>
        <div>
          <span class="left">מקס</span><i class="right b-max">$ <i>59697</i></i>
        </div>
      </div>
    </div>
    <div
      class="b-bets bet-193610453FT_HDP_h-1.5"
      data-id="193610453FT_HDP_h-1.5"
    >
      <div class="b-bets__title">
        <div class="left">כדורגל</div>
        <div class="right">
          <a class="close-button" data-id="193610453FT_HDP_h-1.5" href="#">X</a>
        </div>
      </div>
      <div class="b-bets__team">
        <span>יורו 2024</span>
        <div class="b-bets__score">
          <span class="left b-home_team">קרואטיה</span
          ><i class="right b-score_h">-</i>
        </div>
        vs
        <div class="b-bets__score">
          <span class="left b-away_team">אלבניה</span
          ><i class="right b-score_a">-</i>
        </div>
      </div>
      <div class="b-bets__time b-date"></div>
      <div class="b-bets__name b-description b-description-big">
        משחק מלא אסייתי <br /><b>קרואטיה - 1.5 <span>@ 2.31</span></b>
      </div>
      <div class="b-bets__win" data-odd="2.31" data-sign="">
        <div class="left"><input type="text" value="" /></div>
        <div class="right">
          <span><u>:רווח</u> <i>0</i></span>
        </div>
      </div>
      <div class="b-bets__info">
        <div>
          <span class="left">מינ</span><i class="right b-min">$ <i>100</i></i>
        </div>
        <div>
          <span class="left">מקס</span><i class="right b-max">$ <i>37786</i></i>
        </div>
      </div>
    </div>
  </div>
  <div id="b-mix-input">
    <div class="b-mix-bets__system">
      <div>
        <label class="left"
          ><input type="radio" id="sys1" name="system" value="1" /><span
            >Standart mix</span
          ></label
        >
      </div>
      <div>
        <label class="left"
          ><input
            type="radio"
            id="sys2"
            name="system"
            value="2"
            checked=""
          /><span>System 2/3 - 3 מס' הימורים</span></label
        >
      </div>
    </div>
    <div class="b-mix-bets__info">
      <div style="display: none">
        <span class="left">ליין</span
        ><i class="right b-mix-bets__name">@ 11.76</i>
      </div>
      <div>
        <span class="left">מינ</span><i class="right b-min">$ <i>100</i></i>
      </div>
      <div>
        <span class="left">מקס</span><i class="right b-max">$ <i>14749</i></i>
      </div>
      <div class="">
        <span class="left">Total cost</span
        ><i class="right b-total-cost">$ <i>0</i></i>
      </div>
    </div>
    <div class="b-mix-bets__win" data-odd="11.76" data-sign="+">
      <div class="left">
        <input type="text" value="" />
      </div>

      <div class="right">
        <span><u>:רווח</u> <i>0</i></span>
      </div>
    </div>
  </div>
  <a class="button place-bet" href="#">שלח</a>
</div>

<div class="ball" id="open-betslip">
  <div id="odds-sum-display"></div>
  <br />
  <p class="yahas">יחס:</p>
  <img class="ticket" src="images/ticket.png" />
</div>

<script>

document.addEventListener("click", function(event) {
    var targetElement = event.target;
    
    // Check if the clicked element or one of its parents has the id "close-betslip"
    if (targetElement.id === "close-betslip" || targetElement.closest("#close-betslip")) {
        event.preventDefault();
        
        var closeButtons = document.querySelectorAll("#betslipt-content .close-button");
        closeButtons.forEach(function(button) {
            button.click();
        });
    }
});

document.addEventListener("DOMContentLoaded", function () {
    setInterval(calculateOddsProduct, 100);
});
    // Open bet slip when clicking on the ball
    var ball = document.querySelector(".ball");
    var openBetslipButton = document.getElementById("open-betslip");
    if (openBetslipButton) {
      openBetslipButton.addEventListener("click", function () {
        calculateOddsProduct();
        var betslip = document.querySelector(".b_betslip");
        if (betslip) {
            ball.classList.remove("strech");
          betslip.classList.toggle("open");
        }
      });
    }

    // Close bet slip when clicking on close button
    var closeBetslipButton = document.getElementById("close-betslip");
    if (closeBetslipButton) {
      closeBetslipButton.addEventListener("click", function (event) {
        calculateOddsProduct();
        event.preventDefault();
        var betslip = document.querySelector(".b_betslip");
        if (betslip) {
          betslip.classList.remove("open");
          ball.classList.remove("strech");
        }
      });
    }

    // Add event listener to each multi bet field element
    var chosenBets = document.querySelectorAll(".betfld");
    chosenBets.forEach(function (chosenBet) {
      chosenBet.addEventListener("click", function () {
        // var betslip = document.querySelector('.b_betslip');
        // if (!betslip.classList.contains('open')) {
        //   betslip.classList.toggle('open');
        // }
        calculateOddsProduct();
      });
    });


    var chanceBets = document.getElementById('makebet')
    chosenBets.forEach(function (chosenBet) {
      chosenBet.addEventListener("click", function () {
        // var betslip = document.querySelector('.b_betslip');
        // if (!betslip.classList.contains('open')) {
        //   betslip.classList.toggle('open');
        // }
        calculateOddsProduct();
      });

    });

  function calculateOddsProduct() {
    // Select all elements with the class .b-bets__win
    var bets = document.querySelectorAll(".b-bets__win");
    var product = 1; // Start with 1 for multiplication

    // Loop through each element and multiply the data-odd values
    bets.forEach(function (bet) {
      var oddValue = parseFloat(bet.getAttribute("data-odd"));
      if (!isNaN(oddValue)) {
        product *= oddValue;
      }
    });
    // console.log("Product of all data-odd values:", product);
    var formattedProduct = product.toFixed(2);
    // Optionally, display the product in the HTML
    var productDisplayElement = document.getElementById("odds-sum-display");
    if (productDisplayElement && formattedProduct > 1) {
      productDisplayElement.textContent = formattedProduct;
    }
    var betslip = document.querySelector(".b_betslip");
    if (formattedProduct && formattedProduct > 1) {
      var ball = document.querySelector(".ball");
      if (betslip.classList.contains('open')) {
        ball.classList.remove("strech");
      }else{
        ball.classList.add("strech");
      }
    }
}
</script>
