<div class="flexslider">
  <div class="flex-viewport" >
    <ul class="slides">
      <li class="clone" aria-hidden="true">
        <a href="https://max24bet.net/casino_new.php">
          <img src="/Images/banners/Home Page.jpg" draggable="false" />
        </a>
      </li>
      <li class="flex-active-slide">
        <a href="https://max24bet.net/disp_sport_live.php">
          <img src="/Images/banners/Champions League.gif" draggable="false"/>
        </a>
      </li>
      <li>
        <a
          href="https://max24bet.net/disp_sport_sel_liga.php?sport=soccer&amp;liga=%2AUEFA+EURO+2024+%28IN+GERMANY%29"
        >
          <img src="/Images/banners/Libertadores.jpg" draggable="false" />
        </a>
      </li>
      <li>
        <a
          href="https://max24bet.net/disp_sport_sel_liga.php?sport=soccer&amp;liga=%2ACOPA+AMERICA+2024+%28IN+USA%29"
        >
          <img src="/Images/banners/Roulette.gif" draggable="false" />
        </a>
      </li>
      <li>
        <a
          href="https://max24bet.net/disp_sport_sel_liga.php?sport=basketball&amp;liga=Usa%3A+Nba+-+Play+Offs"
        >
          <img src="/Images/banners/Premier League.jpg" draggable="false" />
        </a>
      </li>
    </ul>
  </div>
  <ul class="flex-direction-nav">
    <li class="flex-nav-prev">
      <a class="flex-prev" href="#">Previous</a>
    </li>
    <li class="flex-nav-next"><a class="flex-next" href="#">Next</a></li>
  </ul>
</div>
