
<link rel="stylesheet" href="/styles/animate.css" />
<link rel="stylesheet" href="/styles/jquery-ui.structure.css" />
<link rel="stylesheet" href="/styles/jquery.alerts.css" />
<link rel="stylesheet" href="/styles/tabscss.css" />
<link rel="stylesheet" href="/styles/style_rtl_new.css">
<link rel="stylesheet" href="/styles/colors.css" />



<link rel="shortcut icon" href="/Images/login-Logo-test.png">
<meta name="viewport" content="width=device-width, initial-scale=1" />



<div class="pc-container">
  <div class="user-info-bar-wrapper">
    <div class="user-info-bar">
      <div class="option-menu">
        <nav class="option-nav">
          <ul>
            <li id="date-string">
              <div id="js-timer" class="time_top"></div>
            </li>
            <li>
              <a href="#">My account</a>
              <ul>
                <li><a href="/bet-list">Bet list</a></li>
                <li><a href="/change-pass">Change password</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Odds</a>
              <ul>
                <li><a href="../options.php?odds=1">Decimal</a></li>
                <li><a href="../options.php?odds=2">American</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Language</a>
              <ul class="lang-menu">
                <li><a href="../options.php?lang=1">English</a></li>
                <li><a href="../options.php?lang=3">עברית</a></li>
                <li><a href="../options.php?lang=1">English</a></li>
                <li><a href="../options.php?lang=5">Chinese</a></li>
                <li><a href="../options.php?lang=6">France</a></li>
              </ul>
            </li>

            <li><a href="results.php">Results</a></li>
            <li><a href="support.php">Support</a></li>
          </ul>
        </nav>
      </div>

    </div>
  </div>

  <div class="header-wrapper">
    <div class="logo">
      <a href="/"><img src="/Images/login-Logo.png" alt="Max24Bet" /></a>
    </div>


    
      <div class="casino-logo">
        <nav class="main-nav">
          <ul class="main-menu">
            <il class="main-menu-item"><a href="/">Home</a></il>
            <il class="main-menu-item"><a href="/live">Live</a></il>
            <il class="main-menu-item"><a href="">Tizer</a></il>
            <il class="main-menu-item"><a href="">Casino</a></il>
            <il class="main-menu-item"><a href="">Special</a></il>
          </ul>
        </nav>
        <div class="outer-box_player_panel" id="outer-box">
          <div class="container_player_panel">
            <div class="player-name">Hi Player</div>
            <div class="balance_player_panel">Your Balance : 5,000$</div>
            <div class="fire-image_player_panel"></div>
            <div class="account_player_panel">
              My account<a href="/bet-list"></a>
            </div>
            <div class="log-out_player_panel">
              Logout<a href=""></a>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<!-- end of PC-header  -->


<!-- Phone header -->
<div class="phone-logo">
  <a href="/"><img src="/Images/login-Logo.png" alt="Max24Bet" />
  </a>
</div>
<div class="topticker">
  <marquee
    id="news"
    direction="right"
    onmouseover="this.stop(); "
    onmouseout="this.start();"
  >
    <li>!חגיגות היורו התחילו</li>
    <li>שימו לב ניתן להמר על הימורים מיוחדים עתידיים כגון : זוכה ביורו , זוכה בקופה , מלך שערים וכו' בלחיצת כפתור המיוחדים</li>
    <li>!!לחצו על הבאנרים לרשימת המשחקים ופרטים!!</li>
  </marquee>
</div>

<div class="container">
  <div class="dropdown">
    <button class="dropbtn" onclick="toggleProfileMenu()">
      <span class="iconss">
        <img src="/Images/Profile.png" alt="Profile Icon" class="icon-img" />
        <span class="text-open" style="font-weight: bold; color: black;">Profile</span>
      </span>
    </button>
    <a href="/live" class="dropbtn">
      <span class="iconss">
        <img src="/Images/Live-icon.png" alt="Live Icon" class="icon-img" />
        <span style="font-weight: bold; color: black;">Live</span>
      </span>
    </a>
    <a href="/" class="dropbtn">
      <span class="iconss">
        <img src="/Images/Chip.png" alt="Slots Icon" class="icon-img" />
        <span style="font-weight: bold; color: black;">Casino</span>
      </span>
    </a>
        <button class="dropbtn" onclick="toggleSportsMenu()">
            <span class="iconss">
              <img src="/Images/Sports.png" class="icon-img" />
              <span class="text-open" style="font-weight: bold; color: black;">Sports</span>
            </span>
          </button>
  </div>


<!-- Profile menu -->
  <div id="profileMenu" class="profile-menu">
    <img onclick="toggleProfileMenu('profile-menu')" src="/Images/icones/x.png" class="x-icon" /><br/>
    <a class="status"
      >Hi John Doe <br />
      Balance : 5000</a
    >
    <a href="/bet-list">My Account</a>
    <a href="/change-pass">Change Password</a>
    <a href="/bet-list">Bet List</a>
    <a href="/super-agent">Admin</a>
    <a class="odds" href="#" style="font-weight: bold;" onclick="toggleSubMenu('oddsMenu')">Odds</a>
    <ul id="oddsMenu">
      <li><a href="">Decimal: <br/> 2.38 </a></li>
      <li><a href="">American: <br/> +138 </a></li>
    </ul>
    <a class="lang" href="#" style="font-weight: bold;" onclick="toggleSubMenu('langMenu')">Language</a>
    <ul id="langMenu">
      <li><a href="">עברית<img src="/Images/Israel.png" alt="Slots Icon" class="flags-img"/></a></li>
      <li><a href="">English<img src="/Images/United States.png" alt="Slots Icon" class="flags-img"/></a></li>
      <li><a href="">Chinese<img src="/Images/China.png" alt="Slots Icon" class="flags-img"/></a></li>
      <li><a href="">France<img src="/Images/France.png" alt="Slots Icon" class="flags-img"/></a></li>
    </ul>
    <a href="results.php">Results</a>
    <a href="/support">Support<img src="/Images/telegram.png" alt="Slots Icon" class="logout-img"/></a>
    <a href="/login">Logout<img src="/Images/images.png" alt="Slots Icon" class="logout-img"/></a>
  </div>
</div>

<!-- Sports menu -->
<div id="sportsMenu" class="sports-menu">
  <img src="/Images/icones/x.png" onclick="toggleSportsMenu('sports-menu')" class="x-icon" />
    <a href="/"><img src="/Images/icones/Home.png" alt="Slots Icon" class="sport-img home-icon"/>Home</a>
    <a href="#"><img src="/Images/icones/Soccer-new.png" alt="Slots Icon" class="sport-img soccer-icon"/>Soccer</a>
    <a href="#"><img src="/Images/icones/Basketball-new.png" alt="Slots Icon" class="sport-img basketball-icon"/>Basketball</a>
    <a href="#"><img src="/Images/icones/Tennis-new.png" alt="Slots Icon" class="sport-img"/>Tennis</a>
    <a href="/chance"><img src="/Images/icones/Chance-new.png" alt="Slots Icon" class="sport-img" />Chance</a>
    <a href="#"><img src="/Images/icones/Ice-hockey-new.png" alt="Slots Icon" class="sport-img" />Ice Hockey</a>
    <a href="#"><img src="/Images/icones/Football-new.png" alt="Slots Icon" class="sport-img" />Football</a>
    <a href="#"><img src="/Images/icones/Vollyball-new.png" alt="Slots Icon" class="sport-img" />Vollyball</a>
    <a href="#"><img src="/Images/icones/Rugby-new.png" alt="Slots Icon" class="sport-img" />Rugby</a>
    <a href="#"><img src="/Images/icones/Baseball-new.png" alt="Slots Icon" class="sport-img" />Baseball</a>
    <a href="#"><img src="/Images/icones/Boxing-new.png" alt="Slots Icon" class="sport-img" />Boxing</a>
  </div>

<script>

  
function toggleSportsMenu() {
    var sportsMenu = document.getElementById("sportsMenu");
    if (sportsMenu.style.display === "block") {
        sportsMenu.style.display = "none";
    } else {
        sportsMenu.style.display = "block";
    }
  }

  

  function toggleProfileMenu() {
    var profileMenu = document.getElementById("profileMenu");
    if (profileMenu.style.display === "block") {
      profileMenu.style.display = "none";
    } else {
      profileMenu.style.display = "block";
    }
  }

  document.querySelectorAll('.text-open').forEach(element => {
    element.addEventListener('click', (event) => {
        // Determine which menu to toggle based on the parent button's function
        var parentButton = element.closest('.dropbtn');
        if (parentButton) {
            if (parentButton.getAttribute('onclick') === 'toggleSportsMenu()') {
                toggleSportsMenu();
            } else if (parentButton.getAttribute('onclick') === 'toggleProfileMenu()') {
                toggleProfileMenu();
            }
        }
        event.stopPropagation(); // Prevents event bubbling
    });
});

  // Function to toggle sub-menus
  function toggleSubMenu(menuId) {
    var subMenu = document.getElementById(menuId);
    if (subMenu.style.display === "block") {
      subMenu.style.display = "none";
    } else {
      subMenu.style.display = "block";
    }
  }

  // Close the menu if the user clicks outside of it
  window.onclick = function (event) {
    var profileMenu = document.getElementById("profileMenu");
    var sportsMenu = document.getElementById("sportsMenu");
    if (event.target !== profileMenu && !profileMenu.contains(event.target) && event.target.className !== "dropbtn" || event.target === profileMenu ) {
      sportsMenu.style.display = "none";
      profileMenu.style.display = "none";
    }

    // Close sub-menus if clicked outside
    if (!event.target.matches(".odds") && !event.target.matches(".lang")) {
      var subMenus = document.querySelectorAll(".profile-menu ul");
      subMenus.forEach(function (menu) {
        menu.style.display = "none";
      });
    }
  };

</script>
