<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />
    <title>max24bet.com - Login</title>
    <link rel="shortcut icon" href="login/favicon.ico" />
    <link type="text/css" href="/styles/log-in.css" rel="stylesheet" />
  </head>

  <body>
    <div class="form-wrapper">
      <div class="background"></div>

      <form id="form" action="chek_register.php" method="post">
        <a href="/" class="logo">
          <img src="/Images/login-Logo.png" alt="max24bet.com" />
        </a>

        <label class="icon icon-user"
          ><input name="login" type="text" class="input" placeholder="Login"
        /></label>
        <label class="icon icon-lock"
          ><input
            name="password"
            type="password"
            class="input"
            placeholder="Password"
        /></label>


        <button type="submit" class="btn">Login</button>
      </form>
    </div>
  </body>
</html>
