

<!DOCTYPE html>
<head>

</head>
<body>

<header>

<%- include("header.ejs"); %>

</header>
 
   <section class="top-section">
      <div class="main_block">
    
    
    		<div class="regular-league-bar"> 
      <div class="list-leagues-ttl">המר באחריות</div>

      
      </div>


<div style="background:#242323;padding:5px 10px; direction:rtl;">
<p style="text-align: right;"><span style="color:#FFFFFF;"><span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;">המחויבות לאחריות חברתית</span></span></span></p>

<p style="text-align: right;"><br />
<span style="color:#FFFFFF;"><span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;">המשחקים אמורים להיות בילוי כיפיי לשעות הפנאי, אבל אנחנו ב&nbsp;<span style="text-align: right;">c2bet</span>.com מבינים עד כמה זה יכול להוות בעייה לחלק מכם. זה עלול להשפיע לרעה על חייכם וגם של הסובבים אותכם. בעוד אנו מציעים שירות, זה נגיש לחברים שלנו באשר הם. למרבה הצער לשירות שלנו יש את הפוטנציאל להוות התעללות, כמו כל כך הרבה פעילויות אחרות. כאשר המשחקים המקוונים הופכים להיות כפייתיים ואינם מנוהלים נכון, זה הופך לבעייה. לכן אנו לוקחים ברצינות את האחראיות לספק את שירות המשחקים בצורה אחראית עד כמה שניתן. בנוסף, אנו משתדלים לקדם את המשחקים בצורה אחראית עד כמה שניתן.</span></span></span></p>

<p style="text-align: right;"><span style="color:#FFFFFF;"><span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;">במידה ומתברר שנעשו הימורים במטרה להונות את החברה , בכוחה של חברת&nbsp;<span style="text-align: right;">c2bet</span><span style="text-align: right;">.com&nbsp;</span>&nbsp;לבטל את ההימורים .</span></span></span></p>

<p style="text-align: right;"><span style="color:#FFFFFF;"><span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;">חברת&nbsp;<span style="text-align: right;">c2bet</span><span style="text-align: right;">.com&nbsp;</span>שומרת לעצמה את הזכות לסגור את חשבונו של לקוח ולהחזיר לו את יתרתו מבלי הסבר נוסף .</span></span></span></p>

<p style="text-align: right;"><span style="color:#FFFFFF;"><span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;">חברת c2bet.com רשאית לסרב להימור כלשהו או לחלק ממנו לפניי מועד תחילת המשחק מבלי לפרט סיבות .</span></span></span></p>

<p style="text-align: right;"><span style="color:#FFFFFF;"><span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;">ביטול הימור על ידי לקוח &ndash; לא ניתן לבטל או לשנות הימור כלשהו.</span></span></span></p>

<p style="text-align: right;"><span style="color:#FFFFFF;"><span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;">חברת c2bet.com אינה נושאת באחריות עבור שגיאות דפוס , טעות אנוש , או שגיאות שיובילו לטעויות כספיות במצבים אלו ההימורים המפסידים יחושבו כמפסידים וכל ההימורים המרוויחים ישולמו לפי היחס / המחיר המתאים לאותו ההיהמור.</span></span></span></p>

<p style="text-align: right;"><span style="color:#FFFFFF;"><span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;">אירוע שבוטל &ndash; כל ההימורים מבוטלים והכספים יוחזרו . אלא אם כן אחד הכללים באתר מציינים אחרת.</span></span></span></p>

<p style="text-align: right;"><span style="color:#FFFFFF;"><span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;">לא ניתן להעביר הימורים משולבים שמשלבים שתי בחירות שונות או יותר מאותו אירוע.</span></span></span></p>

<p style="text-align: right;"><br />

<p style="text-align: right;"><span style="color:#FFFFFF;"><span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;">סכום מינימאלי להימור הוא יחידה אחת בכל מטבע.</span></span></span></p>

<p style="text-align: right;"><span style="color:#FFFFFF;"><span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;">במידה והיתרה בחשבון קטנה מיחידה אחת , תישמר היתרה עד להפקדה נוספת.</span></span></span></p>

<p style="text-align: right;"><br />
<span style="color:#FFFFFF;"><span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;">מגבלות גיל<br />
הימורים באינטרנט הם בידור למבוגרים בלבד, וזה אינו חוקי עבור אף אחד מתחת לגיל 18. על מנת לשחק ב c2bet.com, כל אחד מהחברים שלנו חייב להיות מגיל 18 ומעלה. אנו שומרים לעצמנו את הזכות לבקש מסמכים לאימות גיל מכל חבר ועלולים להקפיא כל חשבון עד שנקבל את ההוכחות שביקשנו. אנשים מתחת לגיל 18 אשר יימצאו משחקים ב c2bet.com חשבונו ייסגר ומחובתיינו לדווח לרשויות המתאימות. בכדי למנוע גישה לקטינים אנו ממליצים על האתרים הנאמנים ביותר של האינטרנט לבקרת הורים לסינון אתרים מסוג זה.</span></span></span></p>

<p style="text-align: right;"><span style="color:#FFFFFF;"><span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;">www.netnanny.com</span></span></span></p>

<p style="text-align: right;"><span style="color:#FFFFFF;"><span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;">www.cybersitter.com</span></span></span></p>

<p style="text-align: right;"><span style="color:#FFFFFF;"><span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;">www.cyberpatrol.com</span></span></span></p>

<p style="text-align: right;"><span style="color:#FFFFFF;"><span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;">www.contentwatch.com</span></span></span></p>

<p style="text-align: right;"><span style="color:#FFFFFF;"><span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;">מגבלות אישיות<br />
לקוחות המשחקים באופן כפייתי עלולים להפוך את המשחקים לבעיה, ולכן אנו יכולים להגביל את השחקן ואת סכומי ההימורים במידה והוא מעוניין בכך. יש לנו גם את היכולת לחסום את הגישה של חבר מסוים לאתר אם יש לו בעיה עם המשחקים.</span></span></span></p>

<p style="text-align: right;"><span style="color:#FFFFFF;"><span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;">קבלת עזרה<br />
אם אתה מאמין שיש לך בעית הימורים, תמיד יש אנשים אשר מבינים את הבעיה שלך ואנו מוכנים לעזור לך תמיד. לכן יש לייצור איתנו קשר ואנו נשתדל לעזור לך בפתרון הבעייה על הצד הטוב ביותר.</span></span></span></p>

<p style="text-align: right;"><span style="color:#FFFFFF;"><span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;">עובדים יחד<br />
c2bet.com עובד בשיתוף פעולה הדוק עם ממשלת קוראסאו ושירותים פיננסיים אחרים. אנו פועלים תחת רישיון הימורים מקוונים בכדי להבטיח שאנו עומדים בסטנדרטים הבינלאומיים בכל הנוגע לניהול המשחקים האחראים. לבסוף, אם יש לכם שאלות על מדיניות או העמדה שלנו בנוגע להימור אחראי, אל תהססו לפנות אלינו במייל.</span></span></span></p>

<p style="text-align: right;"><span style="color:#FFFFFF;"><span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;">הנה מקצת החוקים האפשריים לגבי הנאת הימורים אחראיים.אנא התבונן ופעל באופן הבא:<br />
שחק אך ורק בזמן שאתה רגוע ומרוכז.<br />
קח הפסקות מדי פעם.משחקים משוחקים סביב השעון 24/7.<br />
החלט על סכומי הימורים חודשיים מראש.<br />
החלט על סכומי זכייה לפני שאתה מתחיל לשחק.<br />
החלט עד כמה אתה יכול להרשות לעצמך להפסיד.<br />
לעולם אל תשחק תחת השפעת אלכוהול או תרופות.<br />
לעולם אל תשחק תחת מצב רוח רע.&nbsp;</span></span></span></p>

<p style="text-align: right;"><span style="color:#FFFFFF;"><span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;">contact@c2bet.com</span></span></span></p>
</div>
			

	
   
   
   
   
   
   
   
   
   
   
   
    
    


    </div>
      <div class="side_block">
        <%-

        include("side-menu-old.ejs");
       %>
      </div>
   </section>


      

   



<%- include('footer.ejs') %>

</body>
</html>
