

<div onclick="location.href = 'disp_sport_live.php';" class="menu-live-btn"><img class="img-menu" src="./images/live-icon.png">ליין רץ</a></div>
<div onclick="location.href = 'bet_list.php';" class="menu-mix-live-btn" ><img style="height: 25px;" class="img-menu" src="/Images/icones/list.png">רשימת ההימורים</a></div>

<div class="menu-clos-open">

    <a href="#">תפריט<img style="height: 25px;" class="img-menu" src="/Images/White-arrow-down.webp"></a>


</div>


<ul class="menu-list">

    <li class="menu-item">

        <span><img class="img-menu img-plus-menu" src="images/menu_expand.png">כדורגל </span>
        <span><img src="/Images/icones/Soccer-new.png" class="change-color-icon"></span>

        <ul class="sub-menue-sport">
            

            $times = new DateTime();
            $times->modify('+1 day');
            $time1 = $times->format('d-m-Y');
            $times->modify('+1 day');
            $time2 = $times->format('d-m-Y');
            $times->modify('+1 day');
            $time3 = $times->format('d-m-Y');
            $times->modify('+1 day');
            $time4 = $times->format('d-m-Y');
            $times->modify('+1 day');
            $time5 = $times->format('d-m-Y');

            <li><a href="" class=\"menuln\">משחקי היום</li></a>;
            <li><a href='' class=\"menuln\">$time1</a></li>";
            <li><a href='' class=\"menuln\">$time2</a></li>";
            <li><a href='' class=\"menuln\">$time3</a></li>";
            <li><a href='' class=\"menuln\">$time4</a></li>";
            <li><a href='' class=\"menuln\">$time5</a></li>";



            
        </ul>

    </li>
    <!-- //////////////////// end basketball-->



    <!-- //////////////////// basketball-->
    <li class="menu-item">

        <span><img class="img-menu img-plus-menu" src="images/menu_expand.png">כדורסל</span>
        <span><img src="/Images/icones/Basketball-new.png" class="change-color-icon"></span>

        <ul class="sub-menue-sport">


            


            <li><a href="" class=\"menuln\">משחקי היום</li></a>";
            <li><a href='' class=\"menuln\">$time1</a></li>";
            <li><a href='' class=\"menuln\">$time2</a></li>";
            <li><a href='' class=\"menuln\">$time3</a></li>";
            <li><a href='' class=\"menuln\">$time4</a></li>";
            <li><a href='' class=\"menuln\">$time5</a></li>";

            



        </ul>

    </li>
    <!-- //////////////////// end basketball-->


    <!-- ////////////// tenis
     -->

    <li class="menu-item">

        <span><img class="img-menu img-plus-menu" src="images/menu_expand.png">טניס  </span>
        <span><img src="/Images/icones/Tennis-new.png" class="change-color-icon"></span>
        <ul class="sub-menue-sport">



            



            <li><a href="" class=\"menuln\">משחקי היום</li></a>";
            <li><a href='' class=\"menuln\">$time1</a></li>";
            <li><a href='' class=\"menuln\">$time2</a></li>";
            <li><a href='' class=\"menuln\">$time3</a></li>";
            <li><a href='' class=\"menuln\">$time4</a></li>";
            <li><a href='' class=\"menuln\">$time5</a></li>";
            

        </ul>




    </li>
    <!-- 	////// end tenis-->

    <li class="lucky menu-item" ><img class="img-menu img-plus-menu" src="images/menu_expand.png">
        <a href="/chance">צ'אנס <span><img src="/Images/icones/Chance-new.png" class="change-color-icon"></span></a>
    </li>
    <!-- ////////////// football
 -->

    <li class="menu-item">

        <span><img class="img-menu img-plus-menu" src="images/menu_expand.png">פוטבול  </span>
        <span><img src="/Images/icones/Football-new.png" class="change-color-icon"></span>
        <ul class="sub-menue-sport">

            <li><a href=\"" class=\"menuln\">משחקי היום</li></a>";
            <li><a href='' class=\"menuln\">$time1</a></li>";
            <li><a href='' class=\"menuln\">$time2</a></li>";
            <li><a href='' class=\"menuln\">$time3</a></li>";
            <li><a href='' class=\"menuln\">$time4</a></li>";
            <li><a href='' class=\"menuln\">$time5</a></li>";

        </ul>




    </li>
    <!-- 	////// end football -->

    <!-- ////////////// icehockey-->

    <li class="menu-item">

        <span><img class="img-menu img-plus-menu" src="images/menu_expand.png">הוקי קרח  </span>
        <span><img src="/Images/icones/Ice-hockey-new.png" class="change-color-icon"></span>
        <ul class="sub-menue-sport">



            


            <li><a href="" class=\"menuln\">משחקי היום</li></a>";
            <li><a href='' class=\"menuln\">$time1</a></li>";
            <li><a href='' class=\"menuln\">$time2</a></li>";
            <li><a href='' class=\"menuln\">$time3</a></li>";
            <li><a href='' class=\"menuln\">$time4</a></li>";
            <li><a href='' class=\"menuln\">$time5</a></li>";


            

        </ul>




    </li>
    <!-- 	////// end football
     -->

    <!-- ////////////// volley ball
    -->

    <li class="menu-item">

        <span><img class="img-menu img-plus-menu" src="images/menu_expand.png">כדורעף </span>
        <span><img src="/Images/icones/Vollyball-new.png" class="change-color-icon"></span>
        <ul class="sub-menue-sport">



            

            <li><a href="" class=\"menuln\">משחקי היום</li></a>;
            <li><a href='' class=\"menuln\">$time1</a></li>;
            <li><a href='' class=\"menuln\">$time2</a></li>;
            <li><a href='' class=\"menuln\">$time3</a></li>;
            <li><a href='' class=\"menuln\">$time4</a></li>;
            <li><a href='' class=\"menuln\">$time5</a></li>;


            

        </ul>




    </li>
    <!-- 	////// end  volley ball
     -->

    <!-- ////////////// regby
   -->

    <li class="menu-item">

        <span><img class="img-menu img-plus-menu" src="images/menu_expand.png">רוגבי  </span>
        <span><img src="/Images/icones/Rugby-new.png" class="change-color-icon"></span>
        <ul class="sub-menue-sport">





          <li><a href="" class=\"menuln\">משחקי היום</li></a>;
<li><a href='' class=\"menuln\">time1</a></li>;
<li><a href='' class=\"menuln\">time2</a></li>;
<li><a href='' class=\"menuln\">$time3</a></li>;
            <li><a href='' class=\"menuln\">$time4</a></li>;
            <li><a href='' class=\"menuln\">$time5</a></li>;
            

        </ul>




    </li>
    <!-- 	////// end  rugby
     -->

     <li class="menu-item">

        <span><img class="img-menu img-plus-menu" src="images/menu_expand.png">אגרוף </span>
        <span><img src="/Images/icones/Boxing-new.png" class="change-color-icon"></span>

        <ul class="sub-menue-sport">





          <li><a href="" class=\"menuln\">משחקי היום</li></a>;
<li><a href='' class=\"menuln\">time1</a></li>;
<li><a href='' class=\"menuln\">time2</a></li>;
<li><a href='' class=\"menuln\">$time3</a></li>;
            <li><a href='' class=\"menuln\">$time4</a></li>;
            <li><a href='' class=\"menuln\">$time5</a></li>;
        </ul>
    </li>
</ul>



<div class="end_menu"></div>


<%-include('bet-slip.ejs')%>




<script>

    $(".menu-item a ").click(function() {

        $(this).next("ul").slideToggle();
    });
</script>	
			
		