<!-- <link rel="stylesheet" href="/styles/side-menu.css" /> -->

<!-- <link rel="stylesheet" href="/styles/style_rtl.css" />
<link rel="stylesheet" href="/styles/colors.css" /> -->


<div class="side_block">
  <div class="pc-menu">
  <div onclick="location.href = 'disp_sport_live.php';"class="options menu-live-btn">
    <img class="img-menu" src="./images/live-icon.png" />
    Go to in-play
  </div>

  <div onclick="location.href = 'bet_list.php';" class="options menu-mix-live-btn">
    <img class="img-menu" style="height: 25px; opacity: 10;" src="./images/icones/list.png" />
    Bet list
  </div>

  <div class="options menu-today-events">
    <img class="img-menu img-plus-menu" style="height: 20px" src="images/white-arrow-down.webp"/>
    Today Events
  </div>

  <!-- Soccer -->
  <ul class="menu-list">
    <li class="menu-item">
      <span>
        <img class="img-menu img-plus-menu" src="images/menu_expand.png" />
        Soccer
      </span>
      <span>
        <img
          class="change-color-icon icon-soccer"
          src="/Images/icones/Soccer-new.png"
        />
      </span>
      <ul class="sub-menue-sport">
        <li>
          <a href="disp_sport.php?sport=soccer&time=t" class="menuln"></a>
        </li>
      </ul>
    </li>

    <!-- Basketball -->
    <li class="menu-item">
      <span>
        <img class="img-menu img-plus-menu" src="images/menu_expand.png" />
        Basketball
      </span>
      <span>
        <img
          class="change-color-icon icon-basketball"
          src="/Images/icones/Basketball-new.png"
        />
      </span>
      <ul class="sub-menue-sport">
        <li>
          <a href="disp_sport.php?sport=basketball&time=t" class="menuln"></a>
        </li>
      </ul>
    </li>

    <!-- Tennis -->
    <li class="menu-item">
      <span>
        <img class="img-menu img-plus-menu" src="images/menu_expand.png" />
        Tennis
      </span>
      <span>
        <img
          class="change-color-icon icon-tennis"
          src="/Images/icones/Tennis-new.png"
        />
      </span>
      <ul class="sub-menue-sport">
        <li>
          <a href="disp_sport.php?sport=tennis&time=t" class="menuln"></a>
        </li>
      </ul>
    </li>

    <!-- Chance -->
    <li class="lucky menu-item" onclick="window.location.href='disp_lc.php'">
        <img class="img-menu img-plus-menu" src="images/menu_expand.png" />
        <a href="disp_lc.php" style="text-decoration: none"
          >Chance
          <img
            class="change-color-icon icon-luckycard"
            src="/Images/icones/Chance-new.png"
          />
        </a>
      </li>

    <!-- Football -->
    <li class="menu-item">
      <span>
        <img class="img-menu img-plus-menu" src="images/menu_expand.png" />
        Football
      </span>
      <span>
        <img
          class="change-color-icon icon-football"
          src="/Images/icones/Football-new.png"
        />
      </span>
      <ul class="sub-menue-sport">
        <li>
          <a href="disp_sport.php?sport=football&time=t" class="menuln"></a>
        </li>
      </ul>
    </li>

    <!-- Ice Hockey -->
    <li class="menu-item">
      <span>
        <img class="img-menu img-plus-menu" src="images/menu_expand.png" />
        Ice Hockey
      </span>
      <span>
        <img
          class="change-color-icon icon-hockey"
          src="/Images/icones/ice-hockey-new.png"
        />
      </span>
      <ul class="sub-menue-sport">
        <li>
          <a href="disp_sport.php?sport=icehockey&time=t" class="menuln"></a>
        </li>
      </ul>
    </li>

    <!-- Volleyball -->
    <li class="menu-item">
      <span>
        <img class="img-menu img-plus-menu" src="images/menu_expand.png" />
        Volleyball
      </span>
      <span>
        <img
          class="change-color-icon icon-volleyball"
          src="/Images/icones/Vollyball-new.png"
        />
      </span>
      <ul class="sub-menue-sport">
        <li>
          <a href="disp_sport.php?sport=volleyball&time=t" class="menuln"></a>
        </li>
      </ul>
    </li>

    <!-- Rugby -->
    <li class="menu-item">
      <span>
        <img class="img-menu img-plus-menu" src="images/menu_expand.png" />
        Rugby
      </span>
      <span>
        <img
          class="change-color-icon icon-rugby"
          src="/Images/icones/Rugby-new.png"
        />
      </span>
      <ul class="sub-menue-sport">
        <li><a href="disp_sport.php?sport=rugby&time=t" class="menuln"></a></li>
      </ul>
    </li>

        <!-- Baseball -->
        <li class="menu-item">
            <span>
              <img class="img-menu img-plus-menu" src="images/menu_expand.png" />
              Baseball
            </span>
            <span>
              <img
                class="change-color-icon icon-rugby"
                src="/Images/icones/Baseball-new.png"
              />
            </span>
            <ul class="sub-menue-sport">
              <li><a href="disp_sport.php?sport=boxing&time=t" class="menuln"></a></li>
            </ul>
          </li>

              <!-- Boxing -->
    <li class="menu-item">
        <span>
          <img class="img-menu img-plus-menu" src="images/menu_expand.png" />
          Boxing
        </span>
        <span>
          <img
            class="change-color-icon icon-rugby"
            src="/Images/icones/Boxing-new.png"
          />
        </span>
        <ul class="sub-menue-sport">
          <li><a href="disp_sport.php?sport=rugby&time=t" class="menuln"></a></li>
        </ul>
      </li>
    
  </ul>
</div>
  <div class="end_menu"></div>
  <div class="phone-only">
    <%- include("bet-slip.ejs") %>
  </div>
</div>






