
<link rel="stylesheet" href="/styles/super-agent.css" />
<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
          <h1>
              <span class="glyphicon glyphicon-credit-card" aria-hidden="true" style="vertical-align: middle;"></span> 
              החשבון שלי			</h1>
      <br>
      <div class="title balance-t">
        <div class="form-inline">
          <select name="week" id="period" class="form-control">
            <option value="0" selected="">שבוע נוכחי</option>
            <option value="2">1 שבוע שעבר</option>
            <option value="3">2  שבוע - &nbsp; </option>
            <option value="4">3  שבוע - &nbsp; </option>
            <option value="5">4  שבוע - &nbsp; </option>
            <option value="6">5  שבוע - &nbsp; </option>
            <option value="7">6  שבוע - &nbsp; </option>
            <option value="8">7  שבוע - &nbsp; </option>
            <option value="9">8  שבוע - &nbsp; </option>
          </select>
          
          <select name="status" id="status" class="form-control">
            <option value="all" selected="">הכול</option>
            <option value="played">פעיל</option>
          </select>
        </div>
      </div>
      <br>
      <table class="table table-bordered balance-tab">
        <thead>
          <tr>
            <th></th>
            <th>#ID</th>
            <th>כניסה לחשבון</th>
            <th>התחברות</th>
            <th>שם השחקן</th>
            <th>פעיל / לא פעיל</th>
            <th>%</th>
            <th>אשראי</th>
            <th>הימורים בסיכון</th>
            <th>מס' הימורים</th>
            <th>מחזור</th>
            <th>כסף בסיכון</th>
            <th>סה"כ</th>
            <th>בונוס</th>
            <th>נטו</th>
            <th>חלק סוכן</th>
            <th>חלק סופר סוכן</th>
            <th>חלק בית</th>
          </tr>
        </thead>
        <tbody><tr><td></td><td><span class="color-gray">16622</span></td><td><a href="under_login.php?key=cHVSdk12M0VSZTBhUHB2TFcrMy9BWVhFNjFQQ3JyMXJpRnpIQnBJZzloVT0=" class="enter" target="_blank"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a></td><td><a href="ajax/useredit.php" class="user-edit" data-id="16622"><span class="text-offline"></span> Player</a></td><td>שחקן</td><td><div class="switch on-off"><div class="onoffswitch"><input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" value="16622" id="sw-16622" checked="checked"><label class="onoffswitch-label" for="sw-16622"><span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label></div></div></td><td>100%</td><td><a href="ajax/creditedit.php" class="credit-edit" data-id="16622">10000</a></td><td><a href="/super-agent/betlist.php?user_name=Player&amp;status=Open&amp;week=0">0</a></td><td><a href="/super-agent/betlist.php?user_name=Player&amp;status=All&amp;week=0">0</a></td><td>0</td><td>0</td><td><span>0</span></td><td>0</td><td><span>0</span></td><td><span>0</span></td><td><span>0</span></td><td><span>0</span></td></tr><tr><td>-</td><td><span class="color-gray">16621</span></td><td><a href="under_login.php?key=RTR1V0lLSjFmZElMdC9JTTZJTURSY3FydXZHS1k0b2d2SkhqSDhpamU0MD0=" class="enter" target="_blank"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a></td><td><a href="ajax/useredit.php" class="user-edit" data-id="16621"><span class="text-offline"></span> mic <span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></td><td>מיכאל</td><td><div class="switch on-off"><div class="onoffswitch"><input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" value="16621" id="sw-16621" checked="checked"><label class="onoffswitch-label" for="sw-16621"><span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label></div></div></td><td>20%</td><td><a href="ajax/creditedit.php" class="credit-edit" data-id="16621">0</a></td><td><a href="/super-agent/betlist.php?user_name=mic&amp;status=Open&amp;week=0">0</a></td><td><a href="/super-agent/betlist.php?user_name=mic&amp;status=All&amp;week=0">0</a></td><td>0.00</td><td>0</td><td><span>0</span></td><td>0</td><td><span>0</span></td><td><span>0</span></td><td><span>0</span></td><td><span>0</span></td></tr><tr><td>-</td><td><span class="color-gray">16642</span></td><td><a href="under_login.php?key=K29lYlJHTXFkdEZ3bEVYZUczNndhTmhzN3JQbERieGRYNTJxcmV0MWNBST0=" class="enter" target="_blank"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a></td><td><a href="ajax/useredit.php" class="user-edit" data-id="16642"><span class="text-offline"></span> Grgr <span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></td><td>גוסטבו</td><td><div class="switch on-off"><div class="onoffswitch"><input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" value="16642" id="sw-16642" checked="checked"><label class="onoffswitch-label" for="sw-16642"><span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label></div></div></td><td>20%</td><td><a href="ajax/creditedit.php" class="credit-edit" data-id="16642">0</a></td><td><a href="/super-agent/betlist.php?user_name=Grgr&amp;status=Open&amp;week=0">0</a></td><td><a href="/super-agent/betlist.php?user_name=Grgr&amp;status=All&amp;week=0">0</a></td><td>0.00</td><td>0</td><td><span>0</span></td><td>0</td><td><span>0</span></td><td><span>0</span></td><td><span>0</span></td><td><span>0</span></td></tr></tbody>
        <tfoot><tr><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th>הימורים בסיכון</th><th>מס' הימורים</th><th>מחזור</th><th>כסף בסיכון</th><th>סה"כ</th><th>בונוס</th><th>נטו</th><th>חלק סוכן</th><th>חלק סופר סוכן</th><th>חלק בית</th></tr><tr><td colspan="5">סה"כ</td><td></td><td></td><td></td><td>0</td><td>0</td><td>0</td><td>0</td><td><span>0</span></td><td>0</td><td>0</td><td><span>0</span></td><td><span>0</span></td><td><span>0</span></td></tr></tfoot>
      </table>
      </div>
    </div>
    </div>