<!doctype html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="/styles/support.css" /> -->
    <title>Support</title>
</head>
<body>
    <header>
        <%- include( "header.ejs" ); %>
    </header>

    <section class="top-section">
        <div class="main_block">
            <div class="regular-league-bar">
                <div class="list-leagues-ttl">תמיכה</div>
            </div>
            <div id="support">
                <div class="support-block">
                    <strong>איך פונים אלינו ?</strong>
                    <p>הורידו את אפליקציית טלגרם ,</p>
                    <p>לאחר מכן  חפשו את שם המשתמש שלנו שהוא</p>
                    <a href="https://t.me/max24livesupport" class="support-btn" target="_blank">max24livesupport@</a>
                    <p>( תמונת פרופיל של אוזניות עם רקע כחול ) .</p>
                    <p>סמסו לנו לכל בעיה / תקלה / טעות</p>
                    <p>או כל שאלה שתרצו לשאול וצוות האתר יענה בהקדם האפשרי !!</p>
                </div>
                <div class="support-block">
                    <img src="./img/support-image.png?v=1.1" alt="Support">
                </div>
            </div>
        </div>
        <div class="side_block">
            <%- include( "side-menu.ejs" ); %>
        </div>
    </section>