

<!DOCTYPE html>
<head>


</head>
<body>

<header>

<%- include("header.ejs"); %>

</header>
 
   <section class="top-section">
    <div class="main_block">
    
    
      <div class="regular-league-bar"> 
    <div class="list-leagues-ttl">המר באחריות</div>

    
    </div>


        <div style="color: white;padding:5px 10px; direction:rtl;">
<p dir="RTL"><strong>חוקים כלליים</strong></p>

<p dir="RTL">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ההימורים מדורגים רק לאחר שהתחרות הסתיימה.</p>

<p dir="RTL">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;max24bet.net בט שומר את הזכות לבטל כל הימור המוצב על רף "לא טוב" בצורה בולטת או הימור שהוצב לאחר שתחרות החלה.</p>

<p dir="RTL">3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;max24bet.net בט שומר לעצמו את הזכות לדחות, לצמצם, לבטל או להגביל הימור כלשהו.</p>

<p dir="RTL">4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;המהמרים מדורגים רק לאחר שהתחרות הסתיימה.</p>

<p dir="RTL">5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;המנצח באירוע יוחלט בתאריך אשר נקבע כגמר התחרות; לצורכי הימורים, max24bet.net בט אינו מכיר בהחלטות אשר נבעו מתוך מחאות או ערעורים. תוצאת אירוע שהופסק לאחר תחילת התחרות תוחלט בהתאם לכללי ההימורים הספציפיים לספורט הזה על ידי max24bet.net בט.</p>

<p dir="RTL">6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;לפי החוקים של הממשל המרכזי של האנטילים ההולנדיים, אדם שגילו מתחת ל-18 אינו מורשה לבצע הימור.</p>

<p dir="RTL">7.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;בכל ההימורים העתידיים (לדוגמה, סה"כ ניצחונות בעונה, מנצח בסופרבול וכו'), הזוכה שייקבע על ידי הממונה על הליגה יוכרז גם המנצח לצורכי הימורים, פרט למקרה בו לא הושלם מספר המשחקים המינימלי הדרוש כדי שיתקיים ההימור העתידי.</p>

<p dir="RTL">8.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;כללי לס וגאס יחולו על כל כלל או הימור שאינו מפורט על ידי הכללים והתקנות כאן.</p>

<p dir="RTL">9.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;על כל הכללים, תקנות ותשלומי זכיות המוזכרים בזה יכולים לחול שינויים ועדכונים על ידי max24bet.net בט ללא הודעה מוקדמת בכתב.</p>

<p dir="RTL">10.&nbsp;&nbsp;סכומי המקסימום והמינימום של הימור בכל אירועי הספורט ייקבעו על ידי max24bet.net בט, ויכולים לחול בהם שינויים ללא הודעה מוקדמת בכתב. כמו כן, max24bet.net בט שומר לעצמו את הזכות לקבוע הגבלות לחשבונות פרטיים.</p>

<p dir="RTL">11.&nbsp;&nbsp;max24bet.net בט מסתמך לחלוטין על המידע שסיפק הלקוח בטופס ההצטרפות בבואו ליצור חשבון הימורים. max24bet.net בט אינו אחראי לכל צורה של ייצוג לא הולם או תיאור מסולף מצד הלקוח.</p>

<p dir="RTL">12.כדי לממש זכיה בקזינו על השחקן לצבור 10 שעות שבועיות של משחק, במידה ולא יהיו 10 שעות לא יהיה ניתן לממש את הזכיה והחשבון ימשיך לשבוע חדש.</p>

<p dir="RTL">13.יח סזכיה מקסימלי בקזינו הינו : 50. במקרה של זכיה מעל יחס 50 יקוזז ההפרש מהחשבון.</p>

<p dir="RTL">14.&nbsp;&nbsp;במקרה שחשבון של לקוח זוכה בסכום כלשהו בטעות, על הלקוח להודיע לmax24bet.net בט אודות השגיאה האמורה ללא דיחוי. במקרה של חשבונות עם מאזן שלילי, max24bet.net בט שומר לעצמו את הזכות לבטל כל הימור תלוי גם אם הוא הומר בכספים שנובעים מטעות או לא. חל איסור להשתמש ברובוט לשליחת הימורים.</p>

<p dir="RTL">15.&nbsp;&nbsp;הלקוחות הם אחראיים בלעדיים לעסקאות בחשבון שלהם.&nbsp;<strong>אנא בדוק כל הימור כדי למנוע טעויות לפני שתשלח אותם</strong>. לאחר שהעסקה הושלמה, לא ניתן לשנות אותה. max24bet.net בט אינו נוטל אחריות על הימורים חסרים או כפולים שהלקוח ביצע, ולא יטפל בבקשות הפרשים בגלל היעדר או הכפלת הימור. הלקוחות יכולים לסקור את העסקאות שלהם באזור "ההימורים שלי" באתר לאחר ביצוע הימורים, כדי לוודא שאכן התקבלו כל ההימורים שהזמינו.&nbsp;<strong>בדוק בקפידה את כל העסקאות!</strong></p>

<p dir="RTL">16.&nbsp;&nbsp;יש להגיש ערעורים תוך שבעה (7) ימים מהתאריך בו נפלה ההחלטה על ההימור. לא יכובדו ערעורים לאחר פרק זמן זה. הלקוח הוא האחראי הבלעדי על העסקאות בחשבון שלו.</p>

<p dir="RTL">17.מקסימום לחיצות הימור על משחק זהה הינו : 5, במידה סך לחיצות הימור יהיה מעל 5 יקוזז ההפרש מהחשבון.</p>

<p dir="RTL">18.&nbsp;&nbsp;כל לקוח אחראי בלעדי על שמירת הסודיות של חשבון ההימורים שלו ועליו לבצע כל מאמץ כדי למנוע את השימוש במספר החשבון שלו על ידי צד שלישי כלשהו. כל העסקאות בהן נמסרים מספר החשבון והסיסמה כדי לבצע את ההימור, יעמדו כעסקאות בתום לב שתלויות רק ביתרת החשבון השוטפת.</p>

<p dir="RTL">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;במקרה שהלקוח חושד שמספר החשבון והסיסמה שלו הגיעו לידי צד שלישי, הלקוח ידרוש בכל רגע מmax24bet.net בט לספק לו מספר החשבון וסיסמה חדשים.</p>

<p dir="RTL">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;max24bet.net בט לא יהיה אחראי לכל נזק לכאורה או אובדן שכביכול נגרמו על ידי אתר אינטרנט זה או על ידי תוכנו. זה כולל כל שימוש או שימוש לרעה על ידי אדם כלשהו, חוסר היכולת של אדם כלשהו להתחבר לאתר או להשתמש בו, איחור בהפעלה או בשידור, כשל בקווי התקשורת, או כל שגיאה או השמטה בתוכן.</p>

<p dir="RTL">3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;יתרות כל החשבונות והעסקאות ניתנות בסוג המטבע שנבחר בזמן פתיחת החשבון המקורי.</p>

<p dir="RTL">4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;בסוגי המשחקים או התחרויות בהם תיקו היא תוצאה מקובלת, max24bet.net בט עשוי להציע רף משולש בו התיקו הוא אופציית ההימור השלישית. במקרים כגון אלה, כשהתוצאה היא תיקו, רק מי שהימר על התיקו יקבלו תשלום כמנצחים; אלה שהימרו על כל קבוצה או מתחרה יפסידו את ההימור.</p>

<p dir="RTL">5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;max24bet.net בט שומר לעצמו הרשות, ללא הודעה מוקדמת, להשעות חשבון של לקוח ולהחזיר את כל הסכומים.</p>

<p dir="RTL">6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;max24bet.net בט מתקשר עם לקוחותיו דרך כתובת הדואר האלקטרוני שצוינה בזמן תהליך ההצטרפות. באחריותו של הלקוח לשמור על חשבון דואר אלקטרוני פעיל ויחיד, לספק לנו את הכתובת הנכונה וליידע את max24bet.net בט על כל שינוי בכתובת. אם ללקוח אין לו כתובת דואר אלקטרוני נגישה עבור max24bet.net בט, חשבונו יושעה עד אשר יספק לנו כתובת שכזו.</p>

<p dir="RTL">7.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;על מנת שהימור על מתחרה כלשהו בהצעות כן/ לא יהיה בר תוקף, המתחרה חייב להתחיל ולהשתתף בתחרות.</p>

<p dir="RTL">8.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;max24bet.net בט מנסה לעקוב אחר המוסכמות הרגילות המצביעות על קבוצת בית או קבוצה אורחת על ידי מיקום במאונך. זאת אומרת שבענפי ספורט אמריקאים אנו נמקם את קבוצת הבית למטה. לגבי ענפי ספורט לא אמריקאיים, קבוצת הבית תהיה ממוקמת למעלה. במקרה של שטח נייטרלי, אנו ננסה להצביע על עובדה זו על ידי צרופה של האות&nbsp;<span dir="LTR">N</span>&nbsp;קרוב ככל שניתן לשמות של הקבוצות, אבל אין אנו מבטיחים שהמידע הזה מדויק. לכן אנו נבטל הימורים אך ורק אם שינוי המקום יפורסם באופן רשמי, אם לאו - כל ההימורים ישמרו על תוקפם.</p>

<p dir="RTL">9.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;במידה ויש הבדל בין הגרסה האנגלית של כללים אלה לבין התרגום לכל שפה אחרת, הגרסה האנגלית תיחשב לגרסה הנכונה.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<h1 dir="RTL"><a name="_Ref237325721"></a><a name="_חוקים_ותקנות_בנוגע"></a>חוקים ותקנות בנוגע להימורים</h1>

<p dir="RTL">&nbsp;לחלק מאירועי הספורט יש חוקים שונים; חוקים אלה רשומים מטה ומחולקים לפי סוג האירוע הספציפי או סוג ההימור הקיימים באתר. החוקים שיובאו בהמשך הם החוקים הכללים להימור הניתנים ליישום לכל סוגי האירועים וההימורים, והיענות מלאה עליהם היא חובה. בכל מקום שניתן, תנאים והגדרות שפורטו בתנאי השימוש שפורסמו באתר תקפים לגבי חוקי ההימורים ותקנותיהם.</p>

<p dir="RTL"><a name="R1"></a><strong>חוקים הימורים ותקנות כלליים</strong></p>

<h2 dir="RTL"><a name="_Ref237325734">כללי</a></h2>

<ol>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;כל המידע לגבי הימורים המסופק ע"י החברה בתום לב. עם זאת, החברה אינה יכולה לקחת אחריות לגבי טעויות או השמטות בנוגע לתאריכים, זמנים, זירות, מתחרים, יחסים, תוצאות, סטטיסטיקות או כל מידע הימורים אחר. החברה שומרת לעצמה את הזכות לתקן טעויות ברורות לעין ותנקוט צעדים סבירים כדי להבטיח שהעסקאות ינוהלו ביושרה ובשקיפות.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם אירוע יחל לפני הזמן המתוכנן לו, רק הימורים שיתקבלו לפני תחילת האירוע (להוציא מכלל זה הימורים בזמן אמת) יחשבו תקפים. אם מערכת ההימורים לא נסגרת או מושעה בזמן הנקוב, החברה שומרת לעצמה את הזכות לבטל הימורים שהתקבלו לאחר תחילת האירוע (להוציא מכלל זה הימורים בזמן אמת).</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם מתעוררות ספקות לגבי שמות אירועים או קבוצות, יש לפנות להשתמש בשמות אנגלית כסטנדרט.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;המהמר חייב להמר לפחות 70% מההימורים על ליגות בכירות</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;החברה שומרת לעצמה את הזכות לתקן את החוקים הנ"ל בכל זמן. כל גרסה שכזו מחייבת ותכנס לתוקף מיד עם פרסומה באתר.</li>
</ol>

<h2 dir="RTL">דחיות וביטולים</h2>

<ol>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;באם אירוע אינו מתחיל בתאריך המתוכנן ולא מסתיים בתוך שלושה ימים מתאריך בו נקבע שיסתיים, כל ההימורים אינם תקפים, מלבד אלה בעסקאות אשר נקבעו ללא התניה.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם אירוע מתחיל אך מאוחר יותר נפסק, ולא מגיע לסיומו תוך שלושה ימים מהתאריך בו נקבע שיסתיים, כל ההימורים אינם תקפים, מלבד אלה בעסקאות אשר נקבעו ללא התניה.</li>
</ol>

<h2 dir="RTL">שינוי זירה</h2>

<ol style="list-style-type:circle;">
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;באם שינוי של זירה לא מצויין ספציפית בחוקי הימורים של אירוע מסוים אז:</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;עבור אירועים קבוצתיים, כאשר הזירה שנקבעה משתנה לאחר שמערכת ההימורים נפתחה, כל ההימורים אינם תקפים אם הזירה החדשה היא מגרש הבית של הקבוצה האורחת המקורית.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;עבור אירועים לא קבוצתיים, כאשר הזירה שנקבעה משתנה לאחר שמערכת ההימורים נפתחה, כל ההימורים נחשבים לתקפים.</li>
</ol>

<h2 dir="RTL">משכי זמן</h2>

<ol>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;באם משך אירוע ספורט משתנה, כל ההימורים אינם תקפים.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;כל מקרה שמתרחש בזמן פציעות או עצירות אשר בו משחקים, מתייחסים אליו כאילו קרה בסוף זמן הרגיל. לדוגמא, גול שהובקע בזמן פציעות של המחצית הראשונה במשחק כדורגל נספר כאילו הובקע ב-45 דקות ראשונות.</li>
</ol>

<h2 dir="RTL">תוצאות</h2>

<ol>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;מיקומים על דוכן המנצחים, כאשר ישנם, נחשבים לתוצאה רשמית, ללא התחשבות בפסילות או תיקונים של התוצאה בהמשך. באם אין טקס דוכן מנצחים, התוצאה תקבע לפי התוצאה הרשמית של הגוף החוקי הרלוונטי בזמן סגירת מערכת ההימורים, ללא התחשבות בפסילות או תיקונים של התוצאה בהמשך. אם אין בנמצא תוצאה רשמית, התוצאה תקבע בהתאם לכל מידע זמין הידוע בזמן סגירת מערכת ההימורים.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;סגירת מערכת ההימורים תתרחש לרוב לאחר סיום האירוע. בתור שירות ללקוחות, חלק מהאירועים יכולים להסגר לפני הכרזת התוצאות הרשמיות. החברה שומרת לעצמה את הזכות לשנות את פירעון ההימורים במקרה של סגירה שחלה בה טעות.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;בכל מקרה של אי ודאות לגבי תוצאה מסוימת, החברה שומרת לעצמה את הזכות להשהות את סגירת מערכת ההימורים לגבי אירוע מסוים, לזמן בלתי מוגבל.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;החברה לא תכיר בתיקונים או שינויים לתוצאות שנעשו 72 שעות אחרי תחילת האירוע, עבור הימורים שכבר נפרעו.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;במקרים בהם קיים חוסר התאמה בין התוצאות הרשמיות והתוצאות שפורסמו באזור התוצאות של האתר, הוא ייושב תוך הסתמכות על הקלטות וידאו של החברה על האירוע הספציפי, על מנת לקבוע את התוצאה הנכונה. באם וידאו כזה לא קיים, התוצאות שפורסמו באתר הרשמי של הגוף החוקי הרלוונטי לאירוע זה יהיו תקפות.</li>
</ol>

<h1 dir="RTL"><a name="_Ref237325804"></a><a name="_חוקים_ותקנות_לגבי"></a>חוקים ותקנות לגבי סוגי הימורים</h1>

<h2 dir="RTL">כללי</h2>

<ol style="list-style-type:circle;">
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span dir="LTR">Outright</span>&nbsp;– פירושו הימור על מי מנצח באירוע, מירוץ או טורניר.<br>
<span dir="LTR">Outright Place</span>&nbsp;– פירושו הימור על מתחרים שיגיעו למקומות ספציפיים באירוע, מירוץ או טורניר. מספר המקומות בהם ניתן לזכות יצוין בכותרת ההימור.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם מתחרה או שחקן לא מתחיל לשחק באירוע, מירוץ או טורניר – על הימורי ה<span dir="LTR">outright&nbsp;</span>&nbsp;על מתחרה או שחקן זה לא יהיו תקפים.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם מוכרז&nbsp;<span dir="LTR">“Dead Heat”</span>&nbsp;לגבי אחת מעסקאות&nbsp;<span dir="LTR">Outright</span>, חצי מסכום ההימור מושקע בבחירת המהמר ביחסים מלאים והחצי השני נאבד. אם יותר משני מתחרים מוכרזים כ-<span dir="LTR">“Dead Heat”</span>, האחוזים מחושבים בהתאם.</li>
<li dir="RTL" value="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;מאניליין&nbsp;<span dir="LTR">(Money Line)</span>&nbsp;– פירושו הימור על מתחרה אחד או קבוצה שתנצח או תביס את המתחרה באירוע, או שתמוקם גבוה יותר באירוע ראש בראש. שאר חוקי מאניליין מפורטים בחוקי הימור ספציפיים לאירוע.</li>
<li dir="RTL" value="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;האנדיקפ&nbsp;<span dir="LTR">(Hanidicap, HDP)</span>&nbsp;– פירושו הימור כאשר אחד המתחרים או הקבוצות מקבלות "פור" מדומה (הובלה בתוצאה מראש, לפני תחילת האירוע). המנצח הוא המתחרה או קבוצה עם התוצאה הגבוהה יותר לאחר הוספת ההאנדיקפ לתוצאה. שאר חוקי ההנדיקפ מפורטים בחוקי הימור ספציפיים לאירוע.</li>
<li dir="RTL" value="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אובר/אנדר&nbsp;<span dir="LTR">(Over/Under, OU)</span>&nbsp;– פירושו הימור שנקבע ע"י סך מספר הנקודות (גולים, מערכות, משחקים וכד')&nbsp; בתוצאה הסופית של אירוע. אם הסך גבוה יותר מאשר הליין שנקבע מראש עבור אובר/אנדר, ההימור המנצח הוא אובר. אם הסך נמוך יותר מאשר הליין שנקבע מראש עבור אובר/אנדר, ההימור המנצח הוא אנדר.</li>
<li dir="RTL" value="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;זוגי/איזוגי&nbsp;<span dir="LTR">(Odd/Even, OE)</span>&nbsp;– פירושו הימור שנקבע ע"י השאלה האם סך הנקודות (גולים, משחקים וכד') בתוצאה הסופית יהיו מספר זוגי או איזוגי.</li>
<li dir="RTL" value="6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;פאראליי&nbsp;<span dir="LTR">(paralays)</span>&nbsp;– פירושו הימור על שילוב של לפחות 3 בחירות עליהן מהמרים בסכום אחד. אם כל הבחירות מנצחות – הפאראליי מנצח, וסכום הזכייה הוא הוא שילוב היחסים של שלושת הבחירות. אם אחת או יותר מהבחירות מפסידה, הפאראליי מפסיד. אם אחת או יותר מהבחירות נדחית או מבוטלת, היחסים של בחירה זו הופכים ל1.0.</li>
</ol>

<p>&nbsp;</p>

<p><a name="R14"></a><a name="R15"></a><a name="R2"></a><a name="R21"></a><a name="R22"></a>&nbsp;</p>

<h1 dir="RTL"><a name="_Ref237325806"></a><a name="_כדורגל"></a>כדורגל</h1>

<h2 dir="RTL"><a name="_Ref237325808">חוקים כלליים</a></h2>

<ol style="list-style-type:circle;">
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;כל יחסי המשחקים מבוססים על תוצאת סוף המשחק בתום 90 דקות (2&nbsp;<span dir="LTR">X</span>&nbsp;45 דקות), כולל תוספת זמן פציעות. הארכה, גול זהב והכרעות פנדלים לא נחשבים למטרות הימור, אלא אם כן צוין אחרת.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;לחלק ממשחקי הכדורגל יש לוחות זמנים שונים. באם זה קורה, החוקים הבאים נכנסים לתוקף:</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;משחקי 90 דקות (3&nbsp;<span dir="LTR">X</span>&nbsp;30 דקות) – הימורים לגבי סוף המשחק תקפים, הימורים לגבי מחצית אינם תקפים.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;משחקי 80 דקות (2&nbsp;<span dir="LTR">X</span>&nbsp;40 דקות) – כל ההימורים תקפים.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;משחקי 70 דקות (2&nbsp;<span dir="LTR">X</span>&nbsp;35 דקות או פחות) – כל ההימורים אינם תקפים אלא אם כן max24bet.net יודיע על שינוי לפני תחילת המשחק.</li>
<li dir="RTL" value="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם משחק כדורגל נדחה, או מבוטל או מופסק ואינו מחודש באותו יום, המשחק אינו תקף.הימורים יהיו תקפים רק אם המשחק חודש לפני תום 12 שעות. משחקים יוכרזו כ"לא תקפים" ללא קשר להחלטות רשמיות לכבד את תוצאת המשחק. התוצאות של כל ההימורים לגבי משחקים שבוטלו/ נדחו תקבענה ע"פ שיקול דעתו הבלעדי של max24bet.net.</li>
<li dir="RTL" value="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;הימורים על המחצית הראשונה&nbsp;<span dir="LTR">&nbsp;(1H)</span>תקפים רק למשחק בעת המחצית הראשונה. אם משחק מבוטל במהלך המחצית הראשונה, כל ההימורים אינם תקפים אלא אם כן צויןבמפורש אחרת. אם משחק מבוטל במהלך המחצית השנייה, כל ההימורים עדייו תקפים.</li>
<li dir="RTL" value="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;החברה תספק מידע על זירת המשחק כשירות ואינה לוקחת אחריות אם הזירות שצוינו אינן נכונות. באחריות הלקוח להיות מודע לנכונות הזירה לגבי כל משחק.</li>
<li dir="RTL" value="6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם לא צוין אחרת – במקרה בו הזירה משתנה ממגרש הבית של אחת הקבוצות למגרש נייטרלי, או ממגרש נייטרלי שהוכרז מראש למגרש הבית, כל ההימורים עדיין נחשבים תקפים. במקרה בו הזירה משתנה ממגרש הבית של אחת הקבוצות למגרש של הקבוצה היריבה, ההימורים אינם נחשבים תקפים. הימורים לא יחשבו תקפים גם אם השמות של שתי הקבוצות מוחלפים ביניהם בטעות.</li>
<li dir="RTL" value="7">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;התוצאות יעודכנו עבור הימורי כדורגל בזמן אמת (ליין רץ), וליינים שיוצגו במהלך ההימורים החיים מתייחסים לתוצאה המוצגת בזמן שההימור נשלח. הטיימר והודעת האישור האדומה ניתנים למטרת התייחסות בלבד.</li>
<li dir="RTL" value="8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;בהימורים בזמן אמת, במהלך משחק, בהתייחס לפעולות שmax24bet.net (ע"פ שיקול דעתו הבלעדי) יעריך כמסוכנות באופן שישפיע על תוצאה, ניקוד, ביצוע של אחת הקבוצות או אחד השחקנים; או יחייב שינויים של יחסים/ מחירים או ליינים או מידע לגבי הימורים ("משחק מסוכן") – max24bet.net שומר לעצמו את הזכות להשהות קבלה של הימורים, ואת הזכות לקבל או לדחות הימורים לאחר ה"משחק המסוכן". כל שאר הפעולות במשחק נחשבות לפעולות בטוחות והימורים יוסיפו להיחשב תקפים.</li>
<li dir="RTL" value="9">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;בהימורים בזמן אמת, שליחת הימורים מורשית עד לדקה ה-90 של המשחק בתוספת זמן פציעות עבור רוב המשחקים. עם זאת, מהדקה ה87 ואילך, כל פעולה מלבד אלה שצוינו בסעיף הקודם, יחשבו כפעולות בטוחות ולפיכך כל ההימורים שנשלחו יכולים להיחשב כתקפים: משחק באזור הרחבה; התקפת נגד של אחד על אחד; פנדל; בעיטות חופשיות מוערכים ע"י max24bet.net כ"משחק מסוכן" (בשל הסיכוי לגול).</li>
<li dir="RTL" value="10">&nbsp;&nbsp;בהימורים בזמן אמת, כל ההימורים המחכים לאישור ידחו אוטומטית ברגע בו השופט יסיים את המשחק בתום המחצית הראשונה או בסיום המשחק.</li>
</ol>

<p>&nbsp;</p>

<p>&nbsp;</p>

<h2 dir="RTL"><a name="_Ref237325809">סוגי הימורים</a></h2>

<ol style="list-style-type:circle;">
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם לא צוין אחרת, תוצאות הסוגים השונים של הימורי כדורגל מתייחסים לתוצאה בסיום הזמן המקורי של המשחק. הארכת זמן אינה נחשבת.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span dir="LTR">1X2</span>&nbsp;– פירושו הימור על אחת משלוש תוצאות אפשריות לאירוע. 1 מתייחס לקבוצה הרשומה ראשונה (לרוב הקבוצה המארחת);&nbsp;<span dir="LTR">X</span>&nbsp;מתייחס לתוצאה תיקו; 2 מתייחס לקבוצה הרשומה שנייה (לרוב הקבוצה האורחת).</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;תוצאה מדויקת&nbsp;<span dir="LTR">(correct score)</span>– פירושו הימור הצופה את התוצאה הסופית בסוף המשחק. אם התוצאה המצוינת היא&nbsp;<span dir="LTR">0-5up</span>&nbsp;או&nbsp;<span dir="LTR">5-0up</span>, הכוונה היא שהקבוצה הנבחרת צריכה לנצח בהפרש של חמישה גולים או יותר.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;סך הגולים&nbsp;<span dir="LTR">(total goal)</span>&nbsp;– פירושו הימור על מספר הגולים הכולל שהובקעו באירוע.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;מחצית ראשונה/סוף המשחק&nbsp;<span dir="LTR">(Half-time/Full-time, HT.FT)</span>&nbsp;– פירושו הימור הצופה גם את תוצאת המחצית הראשונה וגם את התוצאה בסוף המחצית השנייה (הארכות זמן אינן נחשבות). הסימונים הבאים בסוג הימור זה משמעותם:&nbsp;<span dir="LTR">H</span>&nbsp;מתייחס לקבוצה הרשומה ראשונה (לרוב הקבוצה המארחת);&nbsp;<span dir="LTR">D</span>&nbsp;מתייחס לתוצאה תיקו;&nbsp;<span dir="LTR">A</span>&nbsp;מתייחס לקבוצה הרשומה שנייה (לרוב הקבוצה האורחת).<br>
לדוגמא –&nbsp;<span dir="LTR">HA</span>&nbsp;פירושו שהקבוצה הרשומה ראשונה תוביל במחצית, והקבוצה הרשומה שנייה תוביל בסוף המשחק.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;גול ראשון/ גול אחרון&nbsp;<span dir="LTR">(First goal/ Last goal)</span>&nbsp;– פירושו הימור על איזה קבוצה תבקיע את הגול הראשון או הגול האחרון במשחק. הסימונים הבאים בסוג הימור זה משמעותם:&nbsp;<span dir="LTR">HF</span>&nbsp;מתייחס לקבוצה הרשומה ראשונה (לרוב הקבוצה המארחת) המבקיעה את הגול הראשון;&nbsp;<span dir="LTR">HL</span>מתייחס לקבוצה הרשומה ראשונה (לרוב הקבוצה המארחת) המבקיעה את הגול האחרון.&nbsp;<span dir="LTR">AF</span>&nbsp;מתייחס לקבוצה הרשומה שנייה (לרוב הקבוצה האורחת) המבקיעה את הגול הראשון.&nbsp;<span dir="LTR">AL</span>&nbsp;מתייחס לקבוצה הרשומה שנייה (לרוב הקבוצה האורחת) המבקיעה את הגול האחרון.<span dir="LTR">NG</span>&nbsp;מתייחס לכך שלא הובקעו גולים במהלך המשחק.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;גולים עצמיים נספרים עבור הקבוצה שזכתה בנקודה על הגול.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם אירוע הופסק לאחר שהובקע גול, כל ההימורים לגבי גול ראשון (ואף גול) נשארים בתוקף בעוד הימורים על גול אחרון אינם בתוקף. אם אירוע הופסק מבלי שהובקעו גולים, כל ההימורים על גול ראשון, גול אחרון ואף גול אינם תקפים.</li>
<li dir="RTL" value="7">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;בעיטת פתיחה&nbsp;&nbsp;(<span dir="LTR">(Which Team to Kick-Off</span>&nbsp;– פירושו הימור על השאלה "איזו קבוצה תבעט את בעיטת הפתיחה".</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם אירוע הופסק לאחר בעיטת הפתיחה, כל ההימורים נשארים תקפים.</li>
<li dir="RTL" value="8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;סך גולים אורחת/ סך גולים מארחת&nbsp;<span dir="LTR">(Home Team Total vs. Away Team Total)</span>&nbsp;– פירושו מספר הגולים הכולל שהובקע ע"י הקבוצות המארחות אל מול מספר הגולים הכולל שהובקע ע"י הקבוצות האורחות, במשחקים בליגה מסוימת ששוחקו באותו יום.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span dir="LTR">HOME</span>&nbsp;מתייחס לקבוצה הרשומה ראשונה ו&nbsp;<span dir="LTR">AWAY</span>&nbsp;מתייחס לקבוצה הרשומה שנייה.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם משחק אחד (או יותר) נדחה או מתבטל, ההימור אינו תקף.</li>
<li dir="RTL" value="9">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אובר/ אנדר לקבוצה&nbsp;<span dir="LTR">(Single Team Over/Under)</span>&nbsp;– פירושו הימור על מספר הגולים שהובקעו ע"י אחת מתוך הקבוצות במשחק.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם סך הגולים גדול יותר מליין האובר/ אנדר, התוצאה המנצחת היא אובר. אם סך הגולים נמוך יותר מליין האובר/ אנדר, התוצאה המנצחת היא אנדר.</li>
<li dir="RTL" value="10">&nbsp;&nbsp;קרנות&nbsp;<span dir="LTR">(Corners)</span>&nbsp;– קרן לא נחשבת עד לפני שהיא משוחקת ע"י הקבוצה (היא עדיין אינה נחשבת כאשר הקבוצה זכאית לקרן ועוד לא בעטה אותה).</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;מספר הקרנות, האנדיקפ – פירושו הימור על איזה קבוצה תבעט יותר קרנות במהלך המשחק, בהתחשב בהאנדיקפ.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם המשחק מבוטל או מופסק ההימור אינו תקף.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;מספר הקרנות, אובר/ אנדר – פירושו הימור על סך הקרנות שיבעטו ע"י שתי הקבוצות במהלך המשחק.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם סך הקרנות גדול יותר מליין האובר/ אנדר, התוצאה המנצחת היא אובר. אם סך הקרנות נמוך יותר מליין האובר/ אנדר, התוצאה המנצחת היא אנדר.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם המשחק מבוטל או מופסק ההימור אינו תקף.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;קרן ראשונה – פירושו הימור על איזו קבוצה תבעט את הקרן הראשונה במשחק.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם המשחק מופסק אחרי הקרן הראשונה, כל ההימורים תקפים. אם המשחק מופסק לפני הקרן הראשונה, כל ההימורים אינם תקפים.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;קרן אחרונה– פירושו הימור על איזו קבוצה תבעט את הקרן האחרונה במשחק.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם המשחק מבוטל או מופסק ההימור אינו תקף.</li>
<li dir="RTL" value="11">&nbsp;&nbsp;כרטיסים -&nbsp; כרטיס צהוב נספר כנקודה אחת וכרטיס אדום נספר כשתי נקודות. מספר הנקודות המקסימלי ששחקן יכול לקבל במהלך משחק הוא שלוש (אחת עבור צהוב ושתיים עבור אדום – צהוב שני אינו נחשב).</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;כרטיסים שנשלפים עבור אנשים שאינם שחקנים (מאמנים, מנהלים, מחליפים וכד') אינם נספרים.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;התוצאה תקבע לפי התוצאה הרשמית של הגוף החוקי הרלוונטי בזמן סגירת מערכת ההימורים.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;מספר הכרטיסים, הנדיקפ – פירושו הימור על איזה מהקבוצות תקבל את מירב הכרטיסים במהלך המשחק, בהתחשב בהנדיקפ.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם המשחק מבוטל או מופסק ההימור אינו תקף.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;מספר הכרטיסים, אובר/ אנדר – פירושו הימור על סך הכרטיסים שישלפו עבור שתי הקבוצות במהלך המשחק.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם סך הכרטיסים גדול יותר מליין האובר/ אנדר, התוצאה המנצחת היא אובר. אם סך הכרטיסים נמוך יותר מליין האובר/ אנדר, התוצאה המנצחת היא אנדר.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם המשחק מבוטל או מופסק ההימור אינו תקף.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;כרטיס ראשון – פירושו הימור על איזו קבוצה תקבל כרטיס (אדום או צהוב) ראשונה במשחק.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם שני שחקנים או יותר מקבלים רישום עבור אותה תקרית, ההימור יתבטל.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם המשחק מופסק אחרי שהכרטיס הראשון נשלף, כל ההימורים תקפים. אם המשחק מופסק לפני שהכרטיס הראשון נשלף, כל ההימורים אינם תקפים.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;כרטיס אחרון– פירושו הימור על איזו קבוצה תקבל כרטיס (אדום או צהוב) אחרונה במשחק.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם שני שחקנים או יותר מקבלים רישום עבור אותה תקרית, ההימור יתבטל.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם המשחק מבוטל או מופסק ההימור אינו תקף.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;כרטיס צהוב ראשון – פירושו הימור על איזו קבוצה תקבל כרטיס צהוב ראשונה במשחק.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם הרישום הראשון הוא של כרטיס אדום, הוא לא יחושב ככרטיס צהוב לצורך הימור זה.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם שני שחקנים או יותר מקבלים רישום כרטיס צהוב עבור אותה תקרית, ההימור יתבטל.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם המשחק מופסק אחרי שהכרטיס הראשון נשלף, כל ההימורים תקפים. אם המשחק מופסק לפני שהכרטיס הראשון נשלף, כל ההימורים אינם תקפים.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;כרטיס צהוב אחרון– פירושו הימור על איזו קבוצה תקבל כרטיס צהוב אחרונה במשחק.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם הרישום האחרון הוא של כרטיס אדום, הוא לא יחושב ככרטיס צהוב לצורך הימור זה.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם שני שחקנים או יותר מקבלים רישום כרטיס צהוב עבור אותה תקרית, ההימור יתבטל.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם המשחק מבוטל או מופסק ההימור אינו תקף.</li>
<li dir="RTL" value="12">&nbsp;&nbsp;נבדל&nbsp;<span dir="LTR">(Offsides)</span>&nbsp;- התוצאה תקבע לפי התוצאה הרשמית של הגוף החוקי הרלוונטי בזמן סגירת מערכת ההימורים.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;מספר הנבדלים, הנדיקפ – פירושו הימור על איזה קבוצה תמצא בנבדל מספר רב ביותר של פעמים, בהתחשב בהאנדיקפ.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם המשחק מבוטל או מופסק ההימור אינו תקף.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;מספר הנבדלים, אובר/ אנדר – פירושו הימור על סך הנבדלים שיוכרזו עבור שתי הקבוצות במהלך המשחק.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם סך הנבדלים גדול יותר מליין האובר/ אנדר, התוצאה המנצחת היא אובר. אם סך הנבדלים נמוך יותר מליין האובר/ אנדר, התוצאה המנצחת היא אנדר.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם המשחק מבוטל או מופסק ההימור אינו תקף.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;נבדל ראשון – פירושו הימור על איזו קבוצה תמצא בנבדל ראשונה במשחק.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם המשחק מופסק אחרי שהנבדל הראשון מוכרז, כל ההימורים תקפים. אם המשחק מופסק לפני שהנבדל הראשון מוכרז, כל ההימורים אינם תקפים.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;נבדל אחרון– פירושו הימור על איזו קבוצה תמצא בנבדל אחרונה במשחק.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם המשחק מבוטל או מופסק ההימור אינו תקף.</li>
<li dir="RTL" value="13">&nbsp;&nbsp;חילופים&nbsp;<span dir="LTR">(Substitutions)</span>&nbsp;- התוצאה תקבע לפי התוצאה הרשמית של הגוף החוקי הרלוונטי בזמן סגירת מערכת ההימורים.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;מספר החילופים, הנדיקפ – פירושו הימור על איזה קבוצה תבצע חילוף מספר רב ביותר של פעמים, בהתחשב בהאנדיקפ.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם המשחק מבוטל או מופסק ההימור אינו תקף.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;מספר החילופים, אובר/ אנדר – פירושו הימור על סך החילופים שיוכרזו עבור שתי הקבוצות במהלך המשחק.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם סך החילופים גדול יותר מליין האובר/ אנדר, התוצאה המנצחת היא אובר. אם סך החילופים נמוך יותר מליין האובר/ אנדר, התוצאה המנצחת היא אנדר.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם המשחק מבוטל או מופסק ההימור אינו תקף.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;חילוף ראשון – פירושו הימור על איזו קבוצה תבצע חילוף ראשונה במשחק.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם שני שחקנים או יותר מוחלפים בו זמנית, השחקן שמספרו מוצג ראשון ע"י העיתונות הרשמית יהיה הזוכה.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם המשחק מופסק אחרי שהחילוף הראשון מוכרז, כל ההימורים תקפים. אם המשחק מופסק לפני שהחילוף הראשון מוכרז, כל ההימורים אינם תקפים.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;חילוף אחרון– פירושו הימור על איזו קבוצה תמצא בחילוף אחרונה במשחק.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם שני שחקנים או יותר מוחלפים בו זמנית, השחקן שמספרו מוצג אחרון ע"י העיתונות הרשמית יהיה הזוכה.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם המשחק מבוטל או מופסק ההימור אינו תקף.</li>
<li dir="RTL" value="14">&nbsp;&nbsp;ללא גולים - (<span dir="LTR">clean sheet</span>) – פירושו הימור על קבוצה שתשמור על גיליון נקי, כלומר לא תבקיע אף גול במשחק.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם המשחק מבוטל או מופסק ההימור אינו תקף.</li>
<li dir="RTL" value="15">&nbsp;&nbsp;פנדלים&nbsp;<span dir="LTR">(Penalties)</span>&nbsp;– פירושו הימור על מספר הפנדלים הנבעטים במהלך המשחק.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם המשחק מבוטל או מופסק לאחר שהפנדל הוכרז ונבעט ההימור עדיין תקף.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם המשחק מבוטל או מופסק לפני שהפנדל הוכרז ונבעט ההימור אינו תקף.</li>
<li dir="RTL" value="16">&nbsp;&nbsp;הכרעה בפנדלים&nbsp;<span dir="LTR">(Penalty shoot-outs)</span>&nbsp;– פירושו הימור על הקבוצה שתנצח בהכרעה בפנדלים בסיום המשחק.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;בהימורי האנדיקפ התוצאה כוללת את כל הפנדלים שנבעטים במהלך ההכרעה, וכוללת ניצחון פתאומי (המצב בו קבוצה מנצחת ביתרון של גול אחד). בהימורי אנדר/אובר בפנדלים ההימור מתייחס ל 10 הבעיטות הראשונות בלבד.</li>
<li dir="RTL" value="17">&nbsp;&nbsp;פנטזי ליג&nbsp;<span dir="LTR">(Fantasy League)</span>&nbsp;– זוגות פנטזי הם צמדים של קבוצות השייכות למשחקים שונים.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;במשחקים המערבים את שתי הקבוצות, חייבת להיות בעיטת הפתיחה באותו היום, אחרת ההימורים אינם בתוקף.</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;כל הזירות המצויינות הן לצורך התייחסות בלבד.</li>
<li dir="RTL" value="18">&nbsp;&nbsp;אובר/ אנדר ל-15 דקות מסויימות&nbsp;<span dir="LTR">(Specific 15-Minute Over/Under)</span>&nbsp;– פירושו הימור שנקבע ע"י סך מספר הנקודות (גולים, משחקים וכד') בתום כל 15 דקות במשחק, אך לא כולל את הדקה ה-45 (סוף מחצית ראשונה) או הדקה ה-90 (סוף המשחק). בסוג הימור זה אין עסקאות עבור הדקות ה-45 וה-90.</li>
</ol>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם הסך גדול יותר מליין האובר/ אנדר, התוצאה המנצחת היא אובר. אם הסך נמוך יותר מליין האובר/ אנדר, התוצאה המנצחת היא אנדר.</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;לדוגמא:</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אובר/ אנדר לדקה ה-15:<br>
00:00-15:00&nbsp;<span dir="LTR">OU</span>&nbsp;: סך מספר הנקודות שיובקעו בין הדקות 00:00 ל 15:00. כל הימורים חייבים להתקבל לפני תום הדקה ה15.</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אובר/ אנדר לדקה ה-30:<br>
15:01-30:00&nbsp;<span dir="LTR">OU</span>&nbsp;: סך מספר הנקודות שיובקעו בין הדקות 15:01 ל 30:00. כל הימורים חייבים להתקבל לפני תום הדקה ה30.</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אובר/ אנדר לדקה ה-60:<br>
60:00 - 45:01&nbsp;<span dir="LTR">OU</span>&nbsp;: סך מספר הנקודות שיובקעו בין הדקות 45:01 ל 60:00. כל הימורים חייבים להתקבל לפני תום הדקה ה60.</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אובר/ אנדר לדקה ה-75:<br>
60:01-75:00&nbsp;<span dir="LTR">OU</span>&nbsp;: סך מספר הנקודות שיובקעו בין הדקות 60:01 ל 75:00. כל הימורים חייבים להתקבל לפני תום הדקה ה75.</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;עבור הימורי אובר/ אנדר ל-15 דקות מסויימות, ההימורים נקבעים לפי הזמן המדויק בו הגול הובקע (הכדור חוצה את קו השער) לפי השעון המפורסם בשידור החי.</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם המשחק מבוטל או מופסק ההימור אינו תקף לגבי פרקי זמן שטרם הסתיימו. הימורים לגבי פרקי זמן בני 15 דקות שהסתיימו נשארים בתוקף.</p>

<ol>
<li dir="RTL" value="18">&nbsp;&nbsp;&nbsp;בעיטה חופשית&nbsp;<span dir="LTR">(Free kick)</span>&nbsp;– אינה נחשבת עד שלא נבעטה (בניגוד לזמן בו קיבלה הקבוצה את הזכות לבעוט.</li>
</ol>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;בעיטה חופשית מתייחסת לבעיטה חופשית ישירה ולא ישירה (להוציא בעיטת פנדל ובעיטת שוער).</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;מספר הבעיטות החופשיות, הנדיקפ – פירושו הימור על איזו קבוצה תבעט את מירב הבעיטות החופשיות במהלך המשחק, בהתחשב בהנדיקפ.</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם המשחק מבוטל או מופסק ההימור אינו תקף.</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;מספר הבעיטות החופשיות, אובר/ אנדר – פירושו הימור על סך הבעיטות החופשיות שיוכרזו עבור שתי הקבוצות במהלך המשחק.</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם סך הבעיטות החופשיות גדול יותר מליין האובר/ אנדר, התוצאה המנצחת היא אובר. אם סך הבעיטות החופשיות נמוך יותר מליין האובר/ אנדר, התוצאה המנצחת היא אנדר.</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם המשחק מבוטל או מופסק ההימור אינו תקף.</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;בעיטה חופשית ראשונה – פירושו הימור על איזו קבוצה תקבל בעיטה חופשית ראשונה במשחק.</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם המשחק מופסק אחרי שהבעיטה החופשית הראשונה מוכרזת, כל ההימורים תקפים. אם המשחק מופסק לפני שהבעיטה החופשית הראשונה מוכרזת, כל ההימורים אינם תקפים.</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;בעיטה חופשית אחרונה– פירושו הימור על איזו קבוצה תקבל בעיטה חופשית אחרונה במשחק.</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם המשחק מבוטל או מופסק ההימור אינו תקף.</p>

<ol>
<li dir="RTL" value="19">&nbsp;&nbsp;&nbsp;בעיטת שוער&nbsp;<span dir="LTR">(Goal kick)</span>&nbsp;– נזקפת לזכות הקבוצה המגנה, אם הכדור חוצה לחלוטין את גבול המגרש כתוצאה ממגע עם שחקן מהקבוצה השנייה.</li>
</ol>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;בעיטה של השוער לאחר שתפס או עצר את הכדור אינה נחשבת.</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;מספר בעיטות השוער, הנדיקפ – פירושו הימור על איזו קבוצה תבעט את מירב בעיטות השוער במהלך המשחק, בהתחשב בהנדיקפ.</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם המשחק מבוטל או מופסק ההימור אינו תקף.</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;מספר בעיטות השוער, אובר/ אנדר – פירושו הימור על סך בעיטות השוער שיוכרזו עבור שתי הקבוצות במהלך המשחק.</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם סך בעיטות השוער גדול יותר מליין האובר/ אנדר, התוצאה המנצחת היא אובר. אם סך בעיטות השוער נמוך יותר מליין האובר/ אנדר, התוצאה המנצחת היא אנדר.</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם המשחק מבוטל או מופסק ההימור אינו תקף.</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;בעיטת שוער ראשונה – פירושו הימור על איזו קבוצה תקבל בעיטת שוער ראשונה במשחק.</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם המשחק מופסק אחרי שבעיטת שוער הראשונה מוכרזת, כל ההימורים תקפים. אם המשחק מופסק לפני שבעיטת שוער הראשונה מוכרזת, כל ההימורים אינם תקפים.</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;בעיטת שוער אחרונה– פירושו הימור על איזו קבוצה תקבל בעיטת שוער אחרונה במשחק.</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם המשחק מבוטל או מופסק ההימור אינו תקף.</p>

<ol>
<li dir="RTL" value="20">&nbsp;&nbsp;&nbsp;הכנסת כדור במסירה&nbsp;<span dir="LTR">(Throw-in)</span>&nbsp;- נזקפת לזכות הקבוצה אם הכדור חצה לחלוטין את גבול המגרש השמאלי, כתוצאה ממגע עם שחקן מהקבוצה השנייה.</li>
</ol>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;מספר ההכנסות במסירה, הנדיקפ – פירושו הימור על איזו תכניס במסירה יותר פעמים במהלך המשחק, בהתחשב בהנדיקפ.</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם המשחק מבוטל או מופסק ההימור אינו תקף.</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;מספר ההכנסות במסירה, אובר/ אנדר – פירושו הימור על סך ההכנסות במסירה שיוכרזו עבור שתי הקבוצות במהלך המשחק.</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם סך ההכנסות במסירה גדול יותר מליין האובר/ אנדר, התוצאה המנצחת היא אובר. אם סך ההכנסות במסירה נמוך יותר מליין האובר/ אנדר, התוצאה המנצחת היא אנדר.</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם המשחק מבוטל או מופסק ההימור אינו תקף.</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;הכנסה במסירה ראשונה – פירושו הימור על איזו קבוצה תכניס ראשונה במשחק כדור במסירה.</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם המשחק מופסק אחרי שהקבוצה הראשונה מכניסה כדור במסירה, כל ההימורים תקפים. אם המשחק מופסק לפני שהקבוצה הראשונה מכניסה כדור במסירה, כל ההימורים אינם תקפים.</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;הכנסה במסירה אחרונה– פירושו הימור על איזו קבוצה תכניס אחרונה במשחק כדור במסירה.</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם המשחק מבוטל או מופסק ההימור אינו תקף.<a name="R3"></a></p>

<ol>
<li dir="RTL" value="21">&nbsp;&nbsp;&nbsp;תוצאה מדויקת, מחצית&nbsp;<span dir="LTR">(1 HT Correct Score)</span>&nbsp;– הימור על התוצאה המדויקת במחצית המשחק.</li>
<li dir="RTL" value="22">&nbsp;&nbsp;&nbsp;קרנות – 3 אופציות&nbsp;<span dir="LTR">(Corners 3Way)</span>&nbsp;- הימור האם מספר הקרנות במשחק, יהיה מעל ,מתחת או בדיוק למספר שצוין. לדוגמה, “בדיוק 8” קרנות, במקרה והמשחק הסתיים עם 8 קרנות, הימורי "אובר "8 ו"אנדר 8" יפסידו ורק ההימור "בדיוק 8" מרוויח. קרן חוזרת נספרת כאחת. הארכה לא נחשבת. קרנות שנשרקו אבל לא נבעטו</li>
<li dir="RTL" value="23">&nbsp;&nbsp;&nbsp;קרנות - קבוצת בית&nbsp;<span dir="LTR">(Home Team Corners)</span>&nbsp;– הימור על מספר הקרנות שתבעט קבוצת הבית. קרנות שנשרקו אבל לא נבעטו (לדוגמא בעקבות סיום המשחק) - לא נספרות. קרן חוזרת נספרת כאחת. תוספת זמן פציעות נכללת בהימור, הארכה לא.</li>
<li dir="RTL" value="24">&nbsp;&nbsp;&nbsp;קרנות - קבוצת חוץ&nbsp;<span dir="LTR">(away Team Corners)</span>&nbsp;– הימור על מספר הקרנות שתבעט רבוצת החוץ . קרנות שנשרקו אבל לא נבעטו (לדוגמא בעקבות סיום משחק) - לא נספרות. קרן חוזרת נספרת כאחת. תוספת זמן פציעות נכללת בהימור, הארכה לא</li>
<li dir="RTL" value="25">&nbsp;&nbsp;&nbsp;מחצית עם יותר שערים&nbsp;<span dir="LTR">(Half With Most Goals)</span>&nbsp;– הימור באיזו מהמחציות יובקעו יותר שערים, הראשונה, השניה או תיקו. שתי המחציות צריכות להסתיים במלואם לצורך הכרעת ההימור,אחרת ההימור בטל. שעריים עצמיים וזמן פציעות נכללים.</li>
<li dir="RTL" value="26">&nbsp;&nbsp;&nbsp;תבקיע בשתי המחציות&nbsp;<span dir="LTR">(To Score In Both Halves)</span>&nbsp;– הימור על קבוצה שתבקיע גם במחצית הראשונה וגם במחצית השניה. תוספת זמן פציעות נחשבת, הארכה לא. ההימור על כל אחת מהקבוצות יכול להרוויח או להפסיד ללא קשר לביצועי הקבוצה היריבה.</li>
<li dir="RTL" value="27">&nbsp;&nbsp;&nbsp;תנצח עם מהפך&nbsp;<span dir="LTR">(To Win From Behind)</span>&nbsp;– הימור על קבוצה שתנצח את המשחק (ללא הארכה) ובנקודה מסוימת המהלך המשחק תהיה בפיגור</li>
<li dir="RTL" value="28">&nbsp;&nbsp;&nbsp;תנצח על האפס&nbsp;<span dir="LTR">(To Win To Nil)</span>&nbsp;– הימור על קבוצה שתנצח וגם לא תספוג שערים לחובתה. לדוגמא קבוצת הבית תנצח 0-2. הארכה לא נחשבת</li>
<li dir="RTL" value="29">&nbsp;&nbsp;&nbsp;רשת נקיה&nbsp;<span dir="LTR">(Clean Sheet)</span>&nbsp;– הימור על קבוצה שתסיים את המשחק ללא גולים לחובתה</li>
<li dir="RTL" value="30">&nbsp;&nbsp;&nbsp;שתי הקבוצות יבקיעו&nbsp;<span dir="LTR">(Both Teams To Score)</span>&nbsp;– הימור על אם שתי הקבוצות יבקיעו במהלך המשחק (לא כולל הארכה). אם המשחק נגמר כשרק אחת מהקבוצות תכבוש או שאף אחת מהן, ההימור מפסיד. במקרה של ביטול משחק,ההימור בטל, אלא אם כן תוצאת ההימור כבר נקבעה במועד בו הופסק המשחק (לדוגמא: המשחק בוטל כאשר התוצאה היתה 1-1).</li>
<li dir="RTL" value="31">&nbsp;&nbsp;&nbsp;דאבל צ'אנס&nbsp;<span dir="LTR">(Double Chance)</span>&nbsp;– הימור על שתי תוצאות אפשריות מתוך שלוש לתוצאת המשחק (ללא הארכה).</li>
<li dir="RTL" value="32">&nbsp;&nbsp;&nbsp;דאבל צ'אנס מחצית ראשונה&nbsp;<span dir="LTR">(Double Chance– First Half)</span>&nbsp;– הימור על שתי תוצאות אפשריות מתוך שלוש לתוצאת המחצית. האופציות הן: בית או תיקו,קבוצת בית או קבוצת חוץ, קבוצת חוץ ותיקו.</li>
<li dir="RTL" value="33">&nbsp;&nbsp;&nbsp;גול מוקדם&nbsp;<span dir="LTR">(Early Goal)</span>&nbsp;– הימור האם יובקע או לא גול לפני הזמן המצויין בהימור. אם המשחק הופסק לאחר פרק זמן זה, ההימור תקף.</li>
<li dir="RTL" value="34">&nbsp;&nbsp;&nbsp;גול מאוחר&nbsp;<span dir="LTR">(Late Goal)</span>&nbsp;– הימור האם יובקע או לא גול אחרי הזמן המצויין בהימור. תוספת זמן פציעות נכללת בהימור, הארכה לא.</li>
<li dir="RTL" value="35">&nbsp;&nbsp;&nbsp;קרן ראשונה(זמן)&nbsp;<span dir="LTR">(Time Of First Corner)</span>&nbsp;– הימור על זמן בעיטת הקרן הראשונה, אם היא תהיה לפני או לא פרק הזמן שנקבע. אם המשחק הופסק לאחר פרק זמן זה ההימור תקף.</li>
<li dir="RTL" value="36">&nbsp;&nbsp;&nbsp;כרטיס ראשון (זמן)&nbsp;<span dir="LTR">(Time Of First Card)</span>&nbsp;– הימור על הזמן שהכרטיס הראשון ישלף ( צהוב או אדום). כרטיס שינתן לשחקן שכבר הוחלף, לא יחשב. כרטיס שינתן חצוות המקצועי או לשחקן על הספסל לא יחשב. אם המשחק יפסק אחרי פרק זמן זה, ההימור תקף.</li>
<li dir="RTL" value="37">&nbsp;&nbsp;&nbsp;מחצית שניה – אובר אנדר&nbsp;<span dir="LTR">(Second Half Goals)</span>&nbsp;– הימור על מספר הגולים במחצית השניה. תוספת זמן פציעות נחשבת.</li>
</ol>

<p>&nbsp;</p>

<p>&nbsp;</p>

<h1 dir="RTL"><a name="_Ref237325812"></a><a name="_כדור_בסיס_(בייסבול)"></a>כדור בסיס (בייסבול)</h1>

<p dir="RTL"><strong>חוקים כלליים :</strong></p>

<p dir="RTL">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;כשמהמרים על סך כל ההקפות (מעל/מתחת&nbsp;<span dir="LTR">over/under</span>) המשחק חייב להימשך 9 סבבים (<span dir="LTR">innings</span>)<br>
(8.5 אם הקבוצה הביתית מובילה) כדי שההימור יהיה תקף (<span dir="LTR">action</span>). &nbsp;אם משחק מופסק בסבבים נוספים, הניקוד ייקבע אחרי הסבב השלם האחרון, אלא אם הקבוצה הביתית משיגה תיקו, או נוטלת את ההובלה במחצית השנייה של הסבב. במקרה הזה הניקוד נקבע בזמן בו המשחק הופסק.</p>

<p dir="RTL">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;הימורים על סך כל ההקפות יוחזרו למהמר אם מתרחשת החלפת מגיש לפני ששני המגישים הרשומים זרקו לפחות הגשה אחת.</p>

<p dir="RTL">3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;הכללים להימורים על רף הקפות ועל רף הקפות מתחלפות (<span dir="LTR">alternate run line</span>) זהים לאלה של סך כל הנקודות בכדור בסיס.</p>

<p dir="RTL">4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;תוצאת משחק הינה רשמית לאחר 5 סבבי משחק אלא אם כן הקבוצה הביתית מובילה לאחר 4.5 סבבים (<span dir="LTR">innings</span>). אם משחק מופסק, המנצח נקבע על ידי הניקוד אחרי הסבב השלם האחרון, אלא אם הקבוצה הביתית זוכה בנקודות לתיקו, או נוטלת את ההובלה במחצית השנייה של הסבב. במקרה הזה המנצח נקבע על ידי הניקוד ברגע שהמשחק הופסק. הכסף יוחזר אם הקבוצה הביתית מוציאה תיקו, ואז המשחק מופסק. אירועים לא יימשכו מהיום למחר אלא אם צוין אחרת.</p>

<p dir="RTL">5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;max24bet.net בט&nbsp;לא מכיר במשחקים דחויים, ערעורים או הפיכת החלטות לצורכי הימורים. כל הימורי כדור בסיס חייבים להיות מוכרעים ביום שנקבע להם, אחרת ההימור "מבוטל" (<span dir="LTR">No Action</span>), וכל הכספים מוחזרים.</p>

<p dir="RTL">6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;הימורים על רף כסף בכדור בסיס יתקבלו בדרך הבאה:</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em><u>פעולה</u></em>&nbsp;- קבוצה מול קבוצה, מבלי להתייחס למגישים ההתחלתיים.</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em><u>מגישים רשומים</u></em>&nbsp;- אם שני המגישים ההתחלתיים הם לא בדיוק כפי שצוין בזמן ההימור, ההימור ייחשב למבוטל.</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em><u>מגיש רשום אחד</u></em>&nbsp;- זהו הימור על או נגד המגיש שצוין, מבלי להתייחס למגיש ההתחלתי השני. אם המגיש שצוין לא מתחיל, ההימור ייחשב למבוטל. (לדוגמא: רד סוקס נגד הלינג פירושם הימור נגד הלינג. הלינג נגד רד סוקס פירושם הימור על הלינג.</p>

<p dir="RTL">7.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;במקרה שיש שינוי בהגשה לפני המשחק, רף הכסף יותאם והימורים תקפים ידורגו לפי מחיר הפתיחה של המגיש החדש.</p>

<p dir="RTL">8.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;מגיש נחשב כאילו התחיל רק אחרי שזרק את ההגשה הראשונה אל החובט הראשון של היריב.</p>

<p dir="RTL">9.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;הימורים על סה"כ נקודות ורף כספי חייבים לציין תמיד את שני המגישים הרשומים.</p>

<p dir="RTL">10.&nbsp;&nbsp;דאבל הידרס: משחקי דאבל הידרס מסומנים על ידי משחק 1 או משחק 2. הלקוחות יכולים לרשום את המגישים בדאבל הידר אך בכל אופן ההימורים נלקחים למשחקים ולא למגישים. אם מגיש מתוכנן אינו משתתף במשחק המתוכנן של דאבל הידר אבל כן במשחק אחר, ההימורים מדורגים על הבסיס המשחק, ולא על המגיש.</p>

<p dir="RTL">11.&nbsp;&nbsp;קבוצת כדור בסיס חייבת לשחק לפחות 160 משחקים בעונה על מנת שההימורים על הניצחונות יהיו תקפים.</p>

<p dir="RTL">12.&nbsp;&nbsp;במקרה ש&nbsp;<span dir="LTR">run ahead&nbsp;</span>&nbsp;או&nbsp;<span dir="LTR">mercy rule</span>&nbsp;מזומנים, המשחקים יחשבו כאילו הסתיימו. הימורים על<span dir="LTR">runlines, totals, team totals</span><span dir="LTR">money line,</span>&nbsp;יהיו תקפים.</p>

<p dir="RTL"><strong>חוקי&nbsp;</strong><strong><span dir="LTR">MLB&nbsp;</span></strong><strong>&nbsp;להימורים בזמן אמת:</strong></p>

<p dir="RTL">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;חוקים אלה תקפים לכל ההימורים הנעשים דרך הימורים בזמן אמת של&nbsp;<span dir="LTR">MLB</span>.</p>

<p dir="RTL">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;למטרות דירוג, כל המשחקים חייבים להמשך לפחות 8.5 סבבים (<span dir="LTR">innings</span>) ולהסתיים תוך 7 ימים מרגע שהתחילו, כדי שההימור יהיה תקף (<span dir="LTR">action</span>). &nbsp;</p>

<p dir="RTL">3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;משחקים שנדחו או לא הסתיימו ביום תחילתם, אך הסתיימו תוך 7 ימים מרגע תחילתם, תקפים וידורגו לפי התוצאה הסופית.</p>

<p dir="RTL"><strong>הימורי מחצית ראשונה (5 מחזורים):</strong></p>

<p dir="RTL">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;כל הימורי בייסבול במחצית הראשונה יוכרעו על סמך תוצאת גמר של חמישה סבבים (<span dir="LTR">innings</span>) שלמים.</p>

<p dir="RTL">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם משחק אינו נמשך חמישה סבבים שלמים, כל ההימורים על המחצית הראשונה יבוטלו.</p>

<p dir="RTL">3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;רק לאחר שכל חמשת המחזורים הסתיימו, כל ההימורים על המחצית הראשונה יכובדו.</p>

<p dir="RTL">4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;כל ההימורים על המחצית הראשונה חייבים לשאת את שני המגישים. אם אחד מהמגישים הרשומים אינו מתחיל, כל ההימורים על המחצית הראשונה יבוטלו.</p>

<p dir="RTL"><strong>בייסבול גרנד סלאמי:</strong></p>

<p dir="RTL">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;הבייסבול גרנד סלאמי יוכרע על סמך סך כל תוצאות הסיבובים במשחקי הליגה הראשיים המתוכננים לאותו יום.</p>

<p dir="RTL">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;כל המשחקים המתוכננים חייבים להמשך לפחות 8.5 סבבים. אם משחק כלשהו מתוכנן יבוטל או ייעצר לפני סיום 8.5 מחזורים, כל ההימורים על בייסבול גרנד סלאמי יבוטלו.</p>

<p dir="RTL">3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אין מגישים רשומים עבור הגרנד סלאמי; כל ההימורים תקפים ללא קשר עם המגישים ההתחלתיים.</p>

<p dir="RTL"><strong><span dir="LTR">MLB</span></strong><strong>&nbsp;ליגות נמוכות:</strong></p>

<p dir="RTL">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;במקרה של משחק דאבל הדר בין קבוצה א' לבין קבוצה ב' וmax24bet.net בט יציע מחירים בין קבוצה א' נגד קבוצה ב' עבור משחק אחד, בלי לציין אם מדובר על המשחק הראשון או השני, יש צריך להתייחס כאילו המחירים הם על המשחק מס' 1. אם משחק מס' 1 כבר התחיל, אז אפשר להניח שמדובר של משחק מס' 2.</p>

<p dir="RTL"><strong>הקפות, חבטות, פסילות (</strong><strong><span dir="LTR">MLB R-H-E</span></strong><strong>):</strong></p>

<table align="right" border="0" cellpadding="0" cellspacing="0" dir="rtl" style="line-height:normal;">
<tbody>
  <tr>
    <td>&nbsp;</td>
    <td>
    <p dir="RTL"><span dir="LTR">Runs</span></p>
    </td>
    <td>
    <p dir="RTL"><span dir="LTR">Hits</span></p>
    </td>
    <td>
    <p dir="RTL"><span dir="LTR">Errors</span></p>
    </td>
  </tr>
  <tr>
    <td>
    <p dir="RTL"><span dir="LTR">LA Angels</span></p>
    </td>
    <td>
    <p dir="RTL"><span dir="LTR">2</span></p>
    </td>
    <td>
    <p dir="RTL"><span dir="LTR">6</span></p>
    </td>
    <td>
    <p dir="RTL"><span dir="LTR">3</span></p>
    </td>
  </tr>
  <tr>
    <td>
    <p dir="RTL"><span dir="LTR">Cleveland</span></p>
    </td>
    <td>
    <p dir="RTL"><span dir="LTR">14</span></p>
    </td>
    <td>
    <p dir="RTL"><span dir="LTR">10</span></p>
    </td>
    <td>
    <p dir="RTL"><span dir="LTR">0</span></p>
    </td>
  </tr>
</tbody>
</table>

<div style="clear:both;">&nbsp;</div>

<ol>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;כל הימורי&nbsp;<span dir="LTR">MLB R-H-E</span>&nbsp;ידורגו לפי סיכום ההקפות, החבטות והחמצות. לדוגמא:</li>
</ol>

<p dir="RTL">&nbsp;</p>

<p dir="RTL">&nbsp;</p>

<p dir="RTL">&nbsp;</p>

<p dir="RTL">בדוגמא זו הניקוד ב יהיה 11 עבור לוס אנג'לס ו24 עבור קליבלנד.</p>

<ol>
<li dir="RTL" value="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;כשמהמרים על&nbsp;<span dir="LTR">MLB R-H-E totals&nbsp;</span>&nbsp;&nbsp;&nbsp;(אובר/אנדר) או על&nbsp;<span dir="LTR">MLB R-H-E spreads</span>, המשחק חייב להימשך 9 סבבים (8.5 אם הקבוצה הביתית מובילה) כדי שההימור יהיה תקף (<span dir="LTR">action</span>).</li>
<li dir="RTL" value="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם משחק מופסק בסבבים נוספים, הניקוד ייקבע אחרי הסבב השלם האחרון, אלא אם הקבוצה הביתית משיגה תיקו, או נוטלת את ההובלה במחצית השנייה של הסבב. במקרה הזה הניקוד נקבע בזמן בו המשחק הופסק. במקרה של&nbsp;<span dir="LTR">MLB R-H-E</span>&nbsp;מאני-ליין, המשחק חייב להמשך 4.5 סבבים במידה והקבוצה המארחת מובילה, או 5 סבבים במידה והקבוצה המארחת אינה מובילה בתום 4.5 סבבים.</li>
<li dir="RTL" value="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;עבור על הימורי ה&nbsp;<span dir="LTR">MLB R-H-E</span>, שני המגישים חייבים להתחיל לשחק. מגיש נחשב כאילו התחיל רק אחרי שזרק את ההגשה הראשונה אל החובט הראשון של היריב. אם מגיש רשום לא התחיל לשחק, הכספים יוחזרו.</li>
<li dir="RTL" value="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;דאבל הידרס: משחקי דאבל הידרס מסומנים על ידי משחק 1 או משחק 2. הלקוחות יכולים לרשום את המגישים בדאבל הידר אך בכל אופן ההימורים נלקחים למשחקים ולא למגישים. אם מגיש מתוכנן אינו משתתף במשחק המתוכנן של דאבל הידר אבל כן במשחק אחר, ההימורים מדורגים על הבסיס המשחק, ולא על המגיש.</li>
</ol>

<p dir="RTL"><strong>חוקי ספיישלים&nbsp;</strong><strong><span dir="LTR">MLB</span></strong><strong>:</strong></p>

<p dir="RTL">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;על כל שחקן אשר בספיישל חייב לפחות לזרוק פעם אחת או חייב&nbsp;<span dir="LTR">plate appearance</span>&nbsp;אחד לפחות במשחק הנתון על מנת שההימור יהיה תוקף.</p>

<p dir="RTL">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;על כל שחקן אשר בספיישל, המשחק חייב להימשך 9 סיבובים (8.5 אם קבוצת הבית מובילה ב2 ) לצורך תוקפו.</p>

<p dir="RTL">3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;המגישים הרשומים חייבים להתחיל את המשחק על מנת שלהימור תהיה תוקף.</p>

<p dir="RTL">4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;על כל ספיישל שמערב יותר ממשחק אחד, כל המשחקים אשר נוגעים בתוצאת הספיישל חייבים להימשך 9 סיבובים (8.5 במקרה שקבוצת הבית מובילה) כדי שיהיו בתוקף. לדוגמא, הספיישל "האם במשחק כלשהו יושג טוטאל ראן אחד בדיוק?" לא יהיה תקף אם משחק כלשהו יופסק לפני הסיבוב השמיני.</p>

<p dir="RTL">5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;בהימורי "ראש בראש" בין שחקנים, שני השחקנים חייבים להתחיל לשחק על מנת שלהימור תהיה תוקף.</p>

<p dir="RTL">6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;לספיישל&nbsp;<span dir="LTR">Total Bases</span>, שני המגישים הרשומים חייבים להתחיל לשחק. חובט רושם בסיס רק אם השיג חבטה יחידה (1), כפולה (2), משולשת (3) או הום-ראן (4). הליכה, פגיעה בגופו ע"י המגיש, פסילה,&nbsp;<span dir="LTR">balk</span>, או כדור עובר לא נחשבות. החובט חייב לפגוע בכדור ולהגיע לבסיס הראשון ללא פסילה. לדוגמא: אם הוא חובט ומגיע רחוק יותר מבסיס ראשון תוך פסילה, הוא רושם רק חבטה יחידה (1).</p>

<p dir="RTL">7.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;הספיישל&nbsp;<span dir="LTR">Total Runs Allowed</span>&nbsp;עבור מגיש כוללות הקפות שהושגו ושלא הושגו.</p>

<ol>
<li value="8">Any MLB proposition using the phrase will be graded using&nbsp;the box score number. For example, take the case of a visiting starter who&nbsp;pitches five complete innings and then faces three batters in the top of the&nbsp;sixth, but records no outs. This would be graded as 5.0 "innings pitched". If&nbsp;the home starter pitched five complete innings and did not throw a pitch in the&nbsp;bottom of the sixth, he would also have a grade of 5.0 "innings pitched". A<span dir="RTL">&nbsp;"</span>pick-em" match-up between these two pitchers for most innings pitched would be&nbsp;graded a tie<span dir="RTL">.</span></li>
</ol>

<p dir="RTL">9.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ספיישלים של בייסבול יוכרעו לפי התוצאות הרשומות ב&nbsp;<a href="http://www.mlb.com/" target="_blank"><span dir="LTR">www.MLB.com</span></a>.</p>

<p dir="RTL"><strong>ספיישלים כלליים ב&nbsp;</strong><strong><span dir="LTR">MLB</span></strong><strong>:</strong></p>

<p dir="RTL">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;עבור ספיישלים מיוחדים ב&nbsp;<span dir="LTR">MLB</span>, התוצאה של המשחק הופכת לרשמית לאחר 5 סבבים אלא אם כן הקבוצה המארחת מובילה לאחר 4.5 סבבים.</p>

<p dir="RTL">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ספיישלים אלה אינם דורשים שמגישים מסוימים יתחילו את משחק.</p>

<p dir="RTL">3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם מתוכננים 10 משחקים או יותר ביום מסוים, כל המשחקים או כולם מלבד אחד חייבים להסתיים כדי שההימור יהיה תקף (<span dir="LTR">action</span>). לכל היותר משחק אחד יכול להתקצר או להדחות.</p>

<p dir="RTL">4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם מתוכננים 9 משחקים או פחות ביום מסוים, כל המשחקים חייבים להסתיים כדי שההימור יהיה תקף (<span dir="LTR">action</span>). אסור לאף משחק להתקצר או להדחות.</p>

<p dir="RTL">5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;רק סטטיסטיקות של משחקים שהוכרזו כרשמיים ישמשו לניקוד הימורים מיוחדים ב<span dir="LTR">MLB</span>. אם משחק מקוצר &nbsp;הוכרז רשמי והימורים מיוחדים ב<span dir="LTR">MLB</span>&nbsp;בתוקף, הסטטיסטיקות של משחק זה יכללו בהתייחס לדירוג.</p>

<p dir="RTL">6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;עבור הספיישל "כמה שחקנים יחבטו יותר מהום-ראן אחד היום?" – ההימור מתייחס לכל שחקן שחבט יותר מ<span dir="LTR">HR&nbsp;</span>&nbsp;אחד במשחק יחיד. אם השחקן חובט&nbsp;<span dir="LTR">HR</span>&nbsp;אחד בכל משחק של דאבל-הידר, זה לא נחשב כיותר מהום-ראן אחד ביום. הוא חייב לחבוט שני&nbsp;<span dir="LTR">HR</span>או יותר במשחק יחיד כדי שהדבר יחשב ליותר מ<span dir="LTR">1HR</span>.</p>

<p dir="RTL">7.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;עבור ספיישלים ב<span dir="LTR">MLB</span>, אם קבוצה משחקת יותר מאשר משחק אחד ביום מסוים (לדוגמא דאבל-הידר), הסטטיסטיקות של כל משחק נחשבות עצמאיות (לדוגמא "מספר ההקפות הרב ביותר ע"י קבוצה אחת", פילדלפיה משחקת שני משחקים, ומשיגה 4 הקפות במשחק הראשון ו5 הקפות במשחק השני. המספר שייחשב יהיה 4 או 5, אך לא 9, שהוא הסכום של כל ההקפות בשני המשחקים.</p>

<p dir="RTL"><strong>עתידיות&nbsp;</strong><strong><span dir="LTR">MLB</span></strong><strong>: ספיישל עונה - שחקן נגד שחקן</strong></p>

<p dir="RTL">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;בספיישל עונה - שחקן נגד שחקן, אם שני השחקנים או רק אחד מהם מתחיל את העונה ברשימה של שחקים לא כשירים, במקום בלוח של שחקנים פעילים או אם נשלח ליגות נמוכות, ההימורים יהיו בטלים.</p>

<p dir="RTL"><strong>סדרת הימורי כדור בסיס:</strong></p>

<p dir="RTL">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ההימורים על סידרה זו מבוססים על שלושת המשחקים הראשונים.</p>

<p dir="RTL">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;לפחות שניים מתוך שלושת משחקים המשחקים חייבים להתקיים כדי שההימורים יהיו תקפים.</p>

<p dir="RTL">3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם רק משחק אחד יידחה או יבוטל, כל ההימורים על הסדרה ידורגו כלא תקפים והכספים יוחזרו.</p>

<p dir="RTL">4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם שניים מתוך שלושת המשחקים הראשונים יודחו או יבוטלו , כל ההימורים על הסדרה ידורגו כלא תקפים והכספים יוחזרו.</p>

<p dir="RTL">5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;משחק שהופסק יוכרז באופן רשמי כגמור ויחושב לצורך הימורים.</p>

<p dir="RTL">6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;המגישים אינם יכולים להיות רשומים בהימורים הללו, כל ההימורים יהיו תקפים ללא קשר למגישים.</p>

<p dir="RTL"><strong><span dir="LTR">Playoffs</span></strong><strong>&nbsp;/ סדרות עולם - בחר4 :</strong></p>

<p dir="RTL">כל קומבינציה בנויה לפי סדר הסיום של 4 הליגות הגדולות בפלייאוף , מסודרות לפי סדר שמי, כדלקמן:</p>

<p dir="RTL">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;הזוכה בסידרת עולם.</p>

<p dir="RTL">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;המפסיד בסידרת עולם.</p>

<p dir="RTL">3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;המפסיד בסידרה ליגת האליפות האמריקאית.</p>

<p dir="RTL">4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;המפסיד בסידרה הלאומית האמריקאית.</p>

<p dir="RTL"><strong>לדוגמא:</strong>&nbsp;נניח שאלה תוצאות הפלייאוף :</p>

<p dir="RTL">·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;הדודגרס שברו את הברייווס במשחקי ליגת האלופות.</p>

<p dir="RTL">·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;הטווינס שברו את האיינגלס במשחקי הליגת האליפות האמריקאית.</p>

<p dir="RTL">·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;הדודגרס אזי זכו בסידרה העולמית נגד הטווינס.</p>

<p dir="RTL">במקרה זה, הקומבינה המנצחת תהיה: דודגרס/ טווינס/ אנגלס/ ברייווס.</p>

<p dir="RTL"><strong>סופרפקטה במחלקות&nbsp;</strong><strong><span dir="LTR">MLB</span></strong><strong>:</strong></p>

<p dir="RTL">במקרה ששתיים או יותר קבוצות תגיעו למצב של שוויון בדירוג סופרפקטה של מחלקות ה<span dir="LTR">MLB</span>, תוצאת ההימור תוכרע על פי הקריטריונים הבאים (לפי סדרי עדיפויות):</p>

<p dir="RTL">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;הקבוצה בעלת המספר הגבוה במרוצים רשומים.</p>

<p dir="RTL">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;הקבוצה בעלת מספר מועט של מרוצים כנגד.</p>

<p dir="RTL">אם לאחר יישום הקריטריונים נותר שוויון, הסופרפקטה תוכרע כמנצחת אם באחת מהאפשרויות של הקבוצות במצב של שוויון תהיה מנצחת.</p>

<p dir="RTL">ליינים למחצית הראשונה ב"ליטל ליג" יהיו לשלושת המערכות הראשונות בלבד<span dir="LTR">.</span></p>

<p dir="RTL"><strong>חוקים לבייסבול גרמני:</strong></p>

<ol>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;כל המשחקים חייבים להימשך 5 סבבים (4.5 אם הקבוצה הביתית מובילה) כדי שההימור יהיה תקף (<span dir="LTR">action</span>).</li>
<li dir="RTL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם משחק מופסק או נדחה, הניקוד ייקבע אחרי הסבב השלם האחרון, אלא אם הקבוצה הביתית משיגה תיקו, או נוטלת את ההובלה במחצית השנייה של הסבב. במקרה הזה הניקוד נקבע בזמן בו המשחק הופסק. אם הקבוצה הביתית משיגה תיקו,ולאחר מכן המשחק נדחה, הכספים יוחזרו.</li>
</ol>

<p dir="RTL">3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אירועים לא יימשכו מהיום למחר אלא אם צוין אחרת.</p>

<p dir="RTL">4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;עבור על המשחקים שנקבעו ל-9 סבבים, כשמהמרים על סך כל ההקפות (מעל/מתחת&nbsp;<span dir="LTR">over/under</span>), רף הקפות ועל רף הקפות מתחלפות (<span dir="LTR">alternate run line</span>), המשחק חייב להימשך 9 סבבים (8.5 אם הקבוצה הביתית מובילה) כדי שההימור יהיה תקף (<span dir="LTR">action</span>). &nbsp;אם משחק מופסק בסבבים נוספים, הניקוד ייקבע אחרי הסבב השלם האחרון, אלא אם הקבוצה הביתית משיגה תיקו, או נוטלת את ההובלה במחצית השנייה של הסבב. במקרה הזה הניקוד נקבע בזמן בו המשחק הופסק.</p>

<p dir="RTL">5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;עבור על המשחקים שנקבעו ל-7 סבבים, כמו המשחק השני בדאבל-הידרס, לדוגמא, כשמהמרים על סך כל ההקפות (מעל/מתחת&nbsp;<span dir="LTR">over/under</span>), רף הקפות ועל רף הקפות מתחלפות (<span dir="LTR">alternate run line</span>), המשחק חייב להימשך 7 סבבים (6.5 אם הקבוצה הביתית מובילה) כדי שההימור יהיה תקף (<span dir="LTR">action</span>). &nbsp;אם משחק מופסק בסבבים נוספים, הניקוד ייקבע אחרי הסבב השלם האחרון, אלא אם הקבוצה הביתית משיגה תיקו, או נוטלת את ההובלה במחצית השנייה של הסבב. במקרה הזה הניקוד נקבע בזמן בו המשחק הופסק.</p>

<p dir="RTL"><strong>חוקים לבייסבול יפני:</strong></p>

<p dir="RTL">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;כשמהמרים על סך כל ההקפות (מעל/מתחת&nbsp;<span dir="LTR">over/under</span>) המשחק חייב להימשך 9 סבבים (<span dir="LTR">innings</span>)<br>
(8.5 אם הקבוצה הביתית מובילה) כדי שההימור יהיה תקף (<span dir="LTR">action</span>). &nbsp;אם משחק מופסק בסבבים נוספים, הניקוד ייקבע אחרי הסבב השלם האחרון, אלא אם הקבוצה הביתית משיגה תיקו, או נוטלת את ההובלה במחצית השנייה של הסבב. במקרה הזה הניקוד נקבע בזמן בו המשחק הופסק.</p>

<p dir="RTL">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;לגבי רף הקפות ורף הקפות מתחלפות (<span dir="LTR">alternate run line</span>), ההימורים זהים לאלה של סך כל ההקפות.</p>

<p dir="RTL"><strong>חוקי&nbsp;</strong><strong><span dir="LTR">World Baseball Classic</span></strong><strong>:</strong></p>

<p dir="RTL">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;הימור&nbsp;<span dir="LTR">POOL</span>&nbsp;– במקרה של תיקו בין 2 או 3 קבוצות בתוך ה-<span dir="LTR">POOL</span>, הקבוצה ששוברת שוויון לפי ה&nbsp;<span dir="LTR">World Baseball Classic</span>(הקבוצה שנחשבת למקום ראשון באותו&nbsp;<span dir="LTR">POOL</span>&nbsp;בסיבוב הבא) היא מנצחת.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<h1 dir="RTL"><a name="_Ref237325813"></a><a name="_כדורסל"></a>כדורסל</h1>

<p dir="RTL"><strong>זמן מינימלי להפעלת ההימור:</strong></p>

<p dir="RTL">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;משחקי&nbsp;<span dir="LTR">NBA</span>&nbsp;חייבים להימשך עד 43 דקות על מנת שההימורים יהיו תקפים. בהימורים על ליגות הכדורסל אחרות, המשחקים חייבים להימשך 35 דקות לפחות אלא אם צוין אחרת.</p>

<p dir="RTL">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;הימורים על פרקי זמן (רבעים ומחציות) זמן המינימום הינו משך פרק הזמן הנתון. אם המשחק לא יסתיים בשלמותו, הימורים על רבעי זמן ועל המחצית יהיו תקפים רק אם פרקי הזמן הללו הושלמו.</p>

<p dir="RTL">3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;לצורכי ההימור, המנצחים והמפסידים נקבעים על ידי התוצאה הסופית (כולל תוספת זמן), בתנאי שהמשחק נמשך פרק הזמן המינימלי שצוין לעיל. אם משחק מופסק אחרי שעבר פרק הזמן המינימלי ולא מחודש באותו היום, אז ללא תלות באם המשחק יימשך בתאריך מאוחר יותר, התוצאה ברגע שהמשחק הופסק תקבע את תוצאות ההימור.</p>

<p dir="RTL">4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם משחק מופסק לפני שעבר פרק הזמן המינימלי ולא מחודש באותו היום, כל ההימורים יבוטלו (<span dir="LTR">no action</span>) והכסף יוחזר.</p>

<p dir="RTL"><strong>כללים נוספים:</strong></p>

<p dir="RTL">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;כל ההימורים על המשחק וכל ההימורים על החצי השני יכללו את ניקוד תוספת הזמן.</p>

<p dir="RTL">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;הימורי הצעות, אלא אם צוין אחרת, המחצית השנייה כוללת את תוספת זמן.</p>

<p dir="RTL">3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ה "<span dir="LTR">Double Double</span>" המופיע בהצעות כדורסל כוונתו לעשרה או יותר בלפחות שתיים מהקטגוריות הבאות: נקודות, רבאונדים, אסיסטים, בלוקס (חסימות) או סטילס (חטיפות).</p>

<p dir="RTL">4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ההימורים על הרבע הרביעי לא כוללים את ניקוד תוספת הזמן.</p>

<p dir="RTL">5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;כל אירועי ספורט חייבים להתקיים במקום ובתאריך שנקבעו בלו"ז, אלא אם צוין אחרת לפני התחרות.</p>

<p dir="RTL">6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;טיזר של שתי קבוצות המסתיים בתיקו/ ניצחון, תיקו/ הפסד או תיקו/ תיקו יחושב כהפסד . טיזר של שתי קבוצות עם הפסד וחלק פתוח הינו הפסד.</p>

<p dir="RTL">7.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;כללים אלה חלים גם על כדורסל מכללות ועל כדורסל מקצועני.</p>

<p dir="RTL">8.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;תוצאות אן בי איי מדורגות לפי האתר&nbsp;<a href="http://www.nba.com/" target="_blank"><span dir="LTR">NBA.com</span></a>.</p>

<p dir="RTL">9.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;להצעות&nbsp;<span dir="LTR">NBA</span>&nbsp;, מדד כללי של שחקן= +2 על כל נקודות קליעה, +3 על כל רבאונד, +3 על כל אסיסט, +5 על כל סטיל, +5 על כל חסימה, -2 על כל החטאת&nbsp;<span dir="LTR">FG</span>, -3 על כל החטאת&nbsp;<span dir="LTR">FT</span>, -3 על כל עבירה אישית , - 5 על כל טרנאובר.</p>

<p dir="RTL">10.&nbsp;&nbsp;תוצאות&nbsp;<span dir="LTR">NCAA</span>&nbsp;נקבעות לפי&nbsp;<a href="http://www.espn.com/" target="_blank"><span dir="LTR">espn.com</span></a>.</p>

<p dir="RTL">11.&nbsp;&nbsp;קבוצת כדורסל&nbsp;<span dir="LTR">NBA</span>&nbsp;חייבת לשחק את כל ה82 משחקים על מנת שההימורים על זכיית העונה יהיו תקפים.</p>

<p dir="RTL">12.&nbsp;&nbsp;כללי לס וגס יחולו על כל מצב שאינו מפורט בזה.</p>

<p dir="RTL"><strong>הצעות&nbsp;</strong><strong><span dir="LTR">NBA</span></strong><strong>&nbsp;- הצעות רב כיווניות על שחקן:</strong></p>

<p dir="RTL">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם שחקן רשום בקטגוריה מסוימת אינו מתחיל לשחק, הקטגוריה כולה תדורג כלא תקפה&nbsp;<span dir="LTR">(no action)</span>. לדוגמא, אם אחד מהשחקנים רשום בקטגוריה " נקודות שהושגו" אינו משתתף מתחילת המשחק, אזי כל ההימורים על הנקודות שהושגו ידורגו כ"לא בתוקף", אפילו שהשחקן יצטרף למשחק מאוחר יותר.</p>

<p dir="RTL">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;שובר שיוויון: שומרים על הסדר הבא נקודות שהושגו, לאחר מכן אסיסטים, אחר כך ריבאונדים ואז נקודות הושגו. לדוגמא, אם הקטגוריה היא אסיסטים, שובר תיקו יוערך קודם כל לפי נקודות שהושגו, לאחר מכן ריבאונדים, ואז נקודות שהושגו על ידי הקבוצה. אם הקטגוריה היא נקודות שהושגו, שובר תיקו ייעשה לפי אסיסטים, אחר כך ריבאונדים, ואז נקודות הקבוצה.</p>

<p dir="RTL"><strong>הצעות&nbsp;</strong><strong><span dir="LTR">NBA</span></strong><strong>&nbsp;– הצעות אישיות על שחקן:</strong></p>

<p dir="RTL">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;בהצעה הנוגעת לסך הנקודות של שחקן מסוים, ריבאונדים, אסיסטים, זריקות חסומות או כל סטטיסטיקה דומה (או שילוב של מספר סטטיסטיקות), השחקן חייב להתחיל לשחק על מנת שההצעה תהיה בתוקף.</p>

<p dir="RTL">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;בין אם שחקן התחיל לשחק ובין אם לא, רק ההצעות האישיות עליו מושפעות מכך. הצעות אישיות לגבי שחקנים אחרים בקבוצה שלו או המתחרה תקפות. לדוגמא – אם קיימת הצעה אישית לגבי מספר הנקודות שיקלע לארי בירד וכמה יקלע קווין מקהייל, אם אחד מהם לא יתחיל לשחק, ההצעה האישית לגבי השני תקפה.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<h1 dir="RTL"><a name="_Ref237325814"></a><a name="_טניס"></a>טניס</h1>

<p dir="RTL"><strong>פרישה או פסילה:</strong></p>

<p dir="RTL">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>הימורי ראש בראש:</strong></p>

<p dir="RTL">פרישה או פסילה ,כל ההימורים מבוטלים במידה ולא שוחקו&nbsp; 2 מערכות מלאות , במידה וכן שוחקו&nbsp; 2 מערכות מלאות רק הימורי ראש בראש (מאניליין) תקפים.</p>

<p dir="RTL">&nbsp;</p>

<p dir="RTL">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>הימורי סט ראשון:</strong></p>

<p dir="RTL">אם הסט הראשון אינו מסתיים מכיוון ששחקן עזב או הורחק, כל ההימורים יהיו בטלים.</p>

<p dir="RTL">3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>הימורי סטים:</strong></p>

<p dir="RTL">אם משחק טניס לא מסתיים בשל פרישתו של שחקן או פסילה כלשהי, כל הימורי סטים בטלים. הימורים אלה יבוטלו והכספים יוחזרו.</p>

<p dir="RTL">4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>הימורי הנדיקפ והימורים על סך המשחקים:</strong></p>

<p dir="RTL">אם משחק טניס אינו מסתיים מכיוון ששחקן עזב או הורחק, כל הימורי ההנדיקפ וההימורים על סך המשחקים יהיו בטלים. הימורים אלה יבוטלו וסכומי הימור יוחזרו ללקוח.</p>

<p dir="RTL">5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>הימורי הצעה:</strong></p>

<p dir="RTL">אם משחק טניס לא מסתיים בשל פרישתו של שחקן או פסילה כלשהי, כל הימורי הצעות בטלים. הימורים אלה יבוטלו והכספים יוחזרו עם כמה הסתייגויות לגבי השלמת סט אינדיבואלי.<br>
<br>
<em>לדוגמא</em>:</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;לזכיית הסט הראשון (חייב לגמור את הסט הראשון)</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;תוצאה מדויקת של הסט הראשון (חייב לגמור את הסט הראשון)</p>

<p dir="RTL">o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;להימור "האם יהיה שובר שוויון במשחקון (חייב להשלים סט)</p>

<p dir="RTL">בהצעות מיוחדות עבור משחק מסוים, ההימורים יושבו לפי הסטטיסטיקות אשר באתר הרשמי של הטורניר.<br>
<br>
<em>לדוגמא:</em></p>

<p dir="RTL">סך האייסים של רודיק נגד פדרר בחצי הגמר באליפות אוסטרליה הפתוחה. ההימורים יושבו לפי&nbsp;<a href="http://www.ausopen.org/" target="_blank"><span dir="LTR">www.ausopen.org</span></a></p>

<p dir="RTL"><strong>דחייה או השעיה:</strong></p>

<p dir="RTL">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם משחקון טניס הסתיים, כל ההימורים עומדים ככתוב. דחייה בתחילת משחקון לא ייפגע בעמידת ההימורים, אפילו שתהיה השעיה, כל עוד המשחקון יחודש והמשחק יושלם.</p>

<p dir="RTL">&nbsp;</p>

<p dir="RTL"><em>לדוגמא:</em>&nbsp;משחק מתוכנן להתארך כ 5 סטים, אך רק 3 סטים יכולים להתקיים בשל מזג האוויר. המוביל בסוף הסט השלישי יכול להיות מוכרז כמנצח של התחרות.</p>

<p dir="RTL"><strong>כל ההימורים העתידיים (</strong><strong><span dir="LTR">Ante post</span></strong><strong>) תקפים:</strong></p>

<p dir="RTL">במקרה ששחקן פורש לפני תחילתו של טורניר, (<span dir="LTR">or retire during</span>&nbsp;<span dir="LTR">a tournament</span>) ההימורים על אותו השחקן לזכייה בטורניר מפסידים.</p>

<p dir="RTL"><strong>שינוי זירה או משטח המשחק:</strong></p>

<p dir="RTL">כל ההימורים תקפים ללא קשר לשינוי זירה, שינוי סוג המשטח, שינוי המשחק להתקיים תחת כיפת השמיים או באולם.</p>

<p dir="RTL"><strong>הימורים חיים:</strong></p>

<p dir="RTL">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;הימורים חיים מוצעים במהלך ההחלפות בלבד. הכדור הראשון לאחר ההחלפה חייב להיות מוגש על מנת שההימורים יהיו תקפים.</p>

<p dir="RTL">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם המערכה הראשונה לא הושלמה, כל ההימורים החיים בטלים.</p>

<p dir="RTL">3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>הימורי מערכות:</strong><br>
הכדור הראשון חייב להיות מוגש על מנת שההימורים יהיו תקפים.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<h1 dir="RTL"><a name="_Ref237325815"></a><a name="_כדורגל_אמריקאי_(פוטבול)"></a>כדורגל אמריקאי (פוטבול)</h1>

<p dir="RTL"><strong>זמן מינימלי להפעלת ההימור:</strong></p>

<p dir="RTL">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;לצורכי ההימור, המנצחים והמפסידים נקבעים על ידי התוצאה הסופית (כולל תוספת זמן), בתנאי שהמשחק נמשך לפחות 55 דקות.</p>

<p dir="RTL">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם משחק מופסק אחרי 55 דקות ולא מחודש באותו היום, אז ללא תלות באם המשחק יימשך בתאריך מאוחר יותר, התוצאה ברגע שהמשחק הופסק תקבע את תוצאות ההימור.</p>

<p dir="RTL">3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם משחק מופסק לפני שהושלמו 55 דקות ולא מחודש באותו היום, כל ההימורים יבוטלו (<span dir="LTR">no action</span>) והכסף יוחזר.</p>

<p dir="RTL"><strong>כללים נוספים:</strong></p>

<p dir="RTL">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;כל ההימורים על המשחק וכל ההימורים על המחצית השנייה יכללו את ניקוד תוספת הזמן.</p>

<p dir="RTL">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ההימורים על הרבע הרביעי לא כוללים את ניקוד תוספת הזמן.</p>

<p dir="RTL">3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;כל אירועי הספורט חייבים להתקיים במקום ובתאריך שנקבעו בלו"ז, אלא אם צוין אחרת לפני התחרות.</p>

<p dir="RTL">4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ב<span dir="LTR">NFL</span>&nbsp;ובפוטבול מכללות, טיזר של שתי קבוצות המסתיים בתיקו/ ניצחון, תיקו/ הפסד או תיקו/ תיקו מוערך כהפסד. כל טיזר של שתי קבוצות עם הפסד וחלק פתוח הינו הפסד. בארנה פוטבול, כל טיזר עם תיקו יחושב כהפסד.</p>

<p dir="RTL">5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;הצעת הימור&nbsp;<span dir="LTR">NFL</span>&nbsp;"נקודות אורחת/ מארחת" ("<span dir="LTR">Away Points/Home Points</span>" ) כוללת את כל המשחקים בשבוע נתון של ה<span dir="LTR">NFL</span>&nbsp;הכולל מיום חמישי עד יום שני.</p>

<p dir="RTL">6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;משחק תיקו אצל חוקי כדורגל אוסטרלי: אם משחק המתנהל תחת חוקי הכדורגל האוסטרלי ("חוקי אוסי") מסתיים בתיקו, הימורי רף כסף על אחת מהקבוצות יסווגו כחצי מערכו של הכרטיס. חצי הימור ישולם במחיר המוזכר, וחצי הימור כמפסיד.<br>
max24bet.net בט עשוי להציע ליין משולש בו התיקו הוא אופציית ההימור השלישית. במקרים כגון אלה, כשהתוצאה היא תיקו, רק מי שהימר על התיקו יקבלו תשלום כמנצחים; אלה שהימרו על כל קבוצה או מתחרה יפסידו את ההימור.</p>

<p dir="RTL">7.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;חוקים אוסטרליים :<br>
הימורי מדליית בראון לואו (תחרות מבוססת על השחקן זוכה מרבית הקולות של&nbsp;<span dir="LTR">AFL</span>):<br>
התחרות מבוססת על ניצחון בלבד ("<span dir="LTR">win-only</span>"). השחקן הנבחר אשר צובר את מרבית הקולות לאחר הסיבוב ה22 יוכרז כמנצח. שחקן שהושהה במהלך העונה אינו זכאי לפרס. אם במקרה הוא זוכה במרבית הקולות, השחקן הקרוב אליו בדרוג הינו הזוכה. במקרה של תיקו, שני השחקנים יוכרזו כמנצחים. תשלומי זכיות כמחצית ערכו של הכרטיס. תיקו משולש - שליש מערכו של הכרטיס תיקו משולש,כלומר שליש מערכו של הכרטיס.</p>

<p dir="RTL">8.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;הצעות&nbsp;<span dir="LTR">NFL</span>&nbsp;ידורגו על סמך התוצאות אשר באתר&nbsp;<a href="http://www.nfl.com/" target="_blank"><span dir="LTR">www.NFL.com</span></a>.</p>

<p dir="RTL">9.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;הצעות ארינה פוטבול ידורגו על סמך התוצאות אשר באתר&nbsp;<a href="http://www.arenafootball.com/" target="_blank"><span dir="LTR">www.Arenafootball.com</span></a></p>

<p dir="RTL">10.&nbsp;&nbsp;לכל הצעות פוטבול אשר מערבות סטטיסטיקות עבור שחקן, שחקן זה חייב להיות בעל לפחות ניסיון העברה אחת (<span dir="LTR">QB</span>) או ניסיון הסתערות אחת (<span dir="LTR">RB</span>). אם לאו &nbsp;- ההימור לא יחשב לתקף&nbsp;<span dir="LTR">(no action)</span>.</p>

<p dir="RTL">11.&nbsp;&nbsp;בפוטבול קנדי , ה"סינגל" מוגדר כמו נקודת משחק אחת,להוציא את נקודות לאחר טאצ'דאון.</p>

<p dir="RTL">12.&nbsp;&nbsp;לצרכי הימור, נקודות הגנה אינן כוללות&nbsp;<span dir="LTR">PAT</span>&nbsp;(נקודות לאחר טאצ'דאון).</p>

<p dir="RTL">13.&nbsp;&nbsp;כללי לס וגס יחולו על כל מצב שאינו מפורט כאן.</p>

<p dir="RTL"><strong>סך הקבוצה הגבוה/ הנמוך</strong></p>

<p dir="RTL">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;הימורים על סך הקבוצה הגבוה או הנמוך ביותר יהיו תקפים אך ורק אם המשחקים מתקיימים בתאריכים ובמקומות המתוכננים, כפי שרשומים בmax24bet.net בט.</p>

<p dir="RTL">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם ישנו תיקו בסך הסך הקבוצה הגבוה ביותר, המנצח הינו הצוות בעל רווח הנצחונות הגבוה ביותר ( להוציא הנקודות שהושגו על ידי היריב). אם רווחי הנצחון הם שווים, כל ההימורים על קבוצות התיקו יודרגו כמנצחים.</p>

<p dir="RTL">3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם ישנו תיקו בסך הקבוצה הנמוך ביותר, המנצח הינו הצוות בעל גבול ההפסדים הגבוה ביותר (יותר נקודות שהושגו על ידי היריבה). אם גבולות ההפסדים שווים, כל ההימורים על קבוצות התיקו ידורגו כמנצחים.</p>

<p dir="RTL"><strong>חוקי מנצחי העונה פוטבול מכללות:</strong></p>

<p dir="RTL">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;משחקי בואול ומשחקי קונפרנס אינם כלולים במנצחים במשחקי גמר העונה - משחקי עונה רגילה בלבד.</p>

<p dir="RTL">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;הקבוצות חייבות לשחק כל משחק מתוכנן לצורכי תקפות.</p>

<p dir="RTL"><strong>חוקי אליפות&nbsp;</strong><strong><span dir="LTR">NCAA Football conference</span></strong><strong>:</strong></p>

<p dir="RTL">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם לקונפרנס יש משחק אליפות רשמי, המנצחת של משחק האליפות מוגדרת כמנצחת האליפות.</p>

<p dir="RTL">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם לקונפרנס שתי אלופות, הקבוצה הראשונה שנבחרה ע"י&nbsp;<span dir="LTR">BCS</span>&nbsp;מוגדרת כמנצחת, וכל השאר מפסידות. אם יש שתי אלופות ואף קבוצה לא נבחרה ע"י&nbsp;<span dir="LTR">BCS</span>, כל ההימורים נחשבים לא תקפים וכספיהם יוחזרו.</p>

<p dir="RTL">3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;עבור הימורים על מחלקות בקונספרנס, הקבוצה המשתתפת במשחק האליפות של הקונפרנס תחשב לזאת שזכתה במחלקה.</p>

<p dir="RTL"><strong>הצעות&nbsp;</strong><strong><span dir="LTR">NFL</span></strong><strong>&nbsp;– המאמן הראשון שפוטר או התפטר</strong></p>

<p dir="RTL">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;המאמן חייב להתפטר או להיות מפוטר בזמן עונה רגילה על מנת להיחשב כתקף.</p>

<p dir="RTL">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם יותר ממאמן אחד פוטר או התפטר באותו יום, הראשון מבינהם הוא הזוכה לפי חוקי&nbsp;<a href="http://www.nfl.com/" target="_blank"><span dir="LTR">www.NFL.com</span></a></p>

<p dir="RTL"><strong>הצעות משחקי&nbsp;</strong><strong><span dir="LTR">NFL/ NCAA</span></strong><strong>&nbsp;- הישגי קבוצה:</strong></p>

<p dir="RTL">10 נקודות עבור זכייה (שוויון הוא 5 נקודות לכל קבוצה)<br>
1 נקודה עבור כל נקודה שהקבוצה השיגה<br>
סך כל הנקודות הוא הביצוע של קבוצה<br>
<br>
<u>לדוגמא:</u><br>
ריידרז – 24 נקודות וזכייה<br>
פטריוטס – 10 נקודות<br>
ביצוע הריידרז – 34<br>
ביצוע הפטריוטס – 10</p>

<p dir="RTL">&nbsp;</p>

<p dir="RTL">&nbsp;</p>

<p dir="RTL"><strong>הצעות&nbsp;<u>מחצית ראשונה</u>&nbsp;משחקי&nbsp;</strong><strong><span dir="LTR">NFL/ NCAA</span></strong><strong>&nbsp;- הישגי קבוצה:</strong></p>

<p dir="RTL">6 נקודות עבור זכייה (שוויון הוא 3 נקודות לכל קבוצה)<br>
1 נקודה אחת עבור כל נקודה שהקבוצה השיגה<br>
סך כל הנקודות הוא הביצוע של קבוצה<br>
<br>
<u>לדוגמא,</u><br>
ג'יאנטס -&nbsp;<span dir="LTR">14</span>&nbsp;בסוף מחצית הראשונה<br>
רדסקינז - 10<br>
<br>
ביצוע הג'יטנאס – 20<br>
ביצוע הרדסקינז - 10</p>

<p dir="RTL"><strong>ספיישלים&nbsp;</strong><strong><span dir="LTR">NFL</span></strong><strong>&nbsp;- ספיישלים רב כיווניים על שחקן:</strong></p>

<p dir="RTL">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אם שחקן רשום בקטגוריה אינו משתתף במשחק, כל הקטגוריה אינה תקפה. לדוגמא – אם אחד מהשחקנים רשום בקטגוריית<span dir="LTR">Rushing yards</span>&nbsp;אינו משחק, אזי כל ההימורים בקטגוריית&nbsp;<span dir="LTR">rushing yards</span>&nbsp;אינם תקפים.</p>

<p dir="RTL">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;במקרה של תיקו בקטגוריה&nbsp;<span dir="LTR">passing yards</span>, שובר השוויון הוא השלמה&nbsp;<span dir="LTR">(completion)</span>, לאחר מכן העברות לטאצ'דאון (<span dir="LTR">Touchdown Passes</span>), ואח"כ ניקוד הקבוצה.</p>

<p dir="RTL">3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;במקרה של תיקו בקטגוריה&nbsp;<span dir="LTR">rushing yards</span>, שובר השוויון הוא מספר הטאצ'דאונים (<span dir="LTR">Touchdowns</span>), ואח"כ ניקוד הקבוצה.</p>

<p dir="RTL">4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;במקרה של תיקו בקטגוריה&nbsp;<span dir="LTR">Receiving yards</span>, שובר השוויון הוא מספר קבלות&nbsp;<span dir="LTR">(Receptions)</span>, אח"כ מספר הטאצ'דאונים (<span dir="LTR">Touchdowns</span>), ואח"כ ניקוד הקבוצה.</p>

<p dir="RTL">5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;חוקי שובר השוויון חלים עד שהשוויון נשבר. לדוגמא, עבור&nbsp;<span dir="LTR">Receiving yards</span>, אם השוויון נשבר ע"י מספר קבלות, ההימורים יקבעו ע"י תוצאות אלה.</p>

<p dir="RTL"><strong>חוקי&nbsp;</strong><strong><span dir="LTR">Fantasy Football Player Matchup</span></strong><strong>:</strong></p>

<p dir="RTL">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;שיטת הניקוד היא:<br>
1 נקודה לכל 50 יארד שנחצו&nbsp;<span dir="LTR">(passing yard)</span>, 1 נקודה לכל 20&nbsp;<span dir="LTR">rushing yard</span>, 1 נקודה לכל 20&nbsp;<span dir="LTR">receiving yard</span>, 6 נקודות לכל טאצ'דאון, 2 נקודות 2 נקודות המרה&nbsp;<span dir="LTR">(conversion points)</span>, -2 נקודות לכל&nbsp;<span dir="LTR">fumble</span>&nbsp;שאבד ו -2 נקודות לכל יירוט<span dir="LTR">(interception)</span>.</p>

<p dir="RTL">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;כל אחד מסוגי היארד יעוגל לחוד לנקודה הקרובה בסוף הזמן.</p>

<p dir="RTL">3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;הימורי ראש בראש שנתיים&nbsp;<span dir="LTR">(yearly matchups)</span>&nbsp;כוללים את כל 16 משחקי העונה. כל השחקנים בהימור זה חייבים לשחק לפחות ב8 משחקים כדי שההימור יהיה תקף.</p>

<p dir="RTL">4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;הימורי ראש בראש שבועיים תקפים לשבוע בלבד.שבוע&nbsp;<span dir="LTR">NFL</span>&nbsp;מתחיל ביום חמישי ונגמר ביום שני. כל השחקנים חייבים לשחק&nbsp;<span dir="LTR">1 down</span>&nbsp;כדי שההימור יהיה בתוקף.</p>

<p dir="RTL"><strong>חוקי ראש בראש לקבוצות יריבות פאנטאזי:</strong></p>

<p dir="RTL">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;תוצאות סופיות של ראש בראש לקבוצות יריבות פאנטאזי יקבעו ע"י&nbsp;<a href="http://www.fantasyrivals.com/" target="_blank"><span dir="LTR">fantasyrivals.com</span></a>, בהתבסס על קבוצות&nbsp; ושיטת הניקוד הסופיים עבור המשחק שם. שיטות ניקוד ויצירת הסדר עלולים להשתנות פר משחק.</p>

<p dir="RTL">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;קביעת הזוגות תכלול את כל המשחקים מיום חמישי ועד יום שני של השבוע הנוכחי. משחקים שמועדם משתנה אל מחוץ למסגרת זמן זו לא יחשבו.</p>

<p dir="RTL">3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ההימורים יהיו תקפים רק אם הרכז של שתי קבוצות הפאנטאזי משחק לפחות פעם אחת. אם קבוצה מתחילה עם יותר מרכז אחד, לפחות אחד מכל קבוצה חייב לשחק לפחות פעם אחת. אם התנאי הזה לא ממומש, כל ההימורים בטלים והכספים יוחזרו עבור אותו ראש בראש.</p>
</div>
    


 
 
 
 
 
 
 
 
 
 
 
  
  


  </div>
      <div class="side_block">
        <%-

        include("side-menu-old.ejs");
       %>
      </div>
   </section>


      

   



<%- include('footer.ejs') %>

</body>
</html>
