
.container {
    padding: 20px;
}
.league-container {
    margin-top: 20px;
}
.country {
    margin-bottom: 20px;
}
.league-list {
    list-style-type: none;
    padding: 0;
    color: white;

}
.league {
    color: white;
    margin-bottom: 10px;
    width: 200px;
}
.league h3 {
    margin: 0;
    font-size: 1.2em;
}
.country-name{
    color: yellow !important;
    font-size: 16px !important;
}